[2019-07-05 12:53] ghost opened #1 "Cannot find GTK+ library file "libgobject-2.0""
I can't install some packages on Debian Linux using stklos-pkg. I did this:

sudo stklos-pkg --install stklos-gtklos

and i get this error:

(cd stklos-gtk-base; stklos-compile -c -L .. -o ../stklos-gtk-base.ostk stklos-gtk-base.spi)
**** Error while executing file "/usr/local/bin/stklos-compile"
	 Where: in error
	Reason: Cannot find GTK+ library file "libgobject-2.0"

  - error
  - find-gtk-libr

[2019-07-14 14:53] egallesio commented on #1
Hello teymurl,
The libgobject-2.0 is a library which should be available with Glib version  2. Perhaps, you only have Glib/Gtk version 3 installed on your machine.
BTW, don't use sudo when installing STklos packages. They are searched in your own .stklos directory.

For stklos-pkg, don't specify the version when installing. You should have:
$ stklos-pkg --install stklos-posix
$ stklos-pkg --instal

[2019-08-21 10:35] lassik opened #2 "Build fails when not connected to a terminal"
I'm trying to make a Docker container from the latest STklos release. `make` does not work if I have no terminal (i.e. running the Linux shell command `tty` says `not a tty`). `docker build` cannot provide a terminal, so would it be OK to change the build to work without one?

I tried running make as `ptyrun make` (the ptyrun command comes from the ptyget package and allocates a pseudo-tty) but th

[2019-08-21 10:36] lassik commented on #2
Hunch: is `#f` expected to be the tty name, which it does not have in this case? `ptyrun tty` does say `/dev/pts/0`. I think `tty` gets its tty device from stdin.

[2019-08-30 15:51] egallesio commented on #2
A docker version would be definitively interesting. I don't know why you have such a problem with make. Are you trying to compile version which is actually in the current tree (the NO handler present message make me think this is not the case, since this is something that should be repaired now).
Anyway, the tmcomp is a simple shell script. Can you execute it with some traces. What is the shell wh

[2019-08-30 16:01] egallesio commented on #2
Can you tell me how do you see that the tty name is #f? Thanks.

[2019-08-30 17:09] lassik commented on #2
Thanks for responding! Here's the exact Docker configuration we have: https://github.com/weinholt/scheme-docker/tree/stklos-wip/stklos I can explore more later.

[2019-08-30 17:10] lassik commented on #2
I'm not sure that it is. That was just a thought about one possibility to investigate. It came from this: `#[condition &error-message 94734647094464]: bad string `#f'`

[2019-09-02 10:05] egallesio commented on #2
I have made a container running STklos by adding the --interactive flag when running stklos during build (for making the documentation and for compiling some scripts). I have not used ptyrun dor that. Anyway, the problem is definitively due to the fact that we don't have a pty when building a container. I have tried to tackle down further why it is a problem when we are building a container and on

[2019-09-02 10:51] lassik commented on #2
Sounds good, thank you for investigating this! Can you share a patch for the build scripts that runs the builds using `--interactive`? We can create the container using that patch, and when the problem is solved for real, we can remove the patch.

[2019-09-03 09:35] egallesio commented on #2
I have finally found where the problem comes from. Itt was not a problem of missing pty. It took me some time, because IMHO debugging a docker build is not so easy. The problem comes form a query to the TERM variable which is not defined during the docker build.

A simple correction to the Dockerfile could be to use
    RUN env TERM="dumb" make all install
to build STklos (of course, next version

[2019-09-03 11:23] lassik commented on #2
Wow, so it turned out to be a much simpler issue :) That's great.

I put the following build commands into the Dockerfile to be as close to the standard `./configure && make && make install` as possible:

[code]

`make install` works fine even without `TERM`.

The final Dockerfile is here: https://github.com/weinholt/scheme-docker/tree/stklos

These are very nice additions, thank you for them!

Di

[2019-09-03 11:32] lassik opened #3 "Where does the STklos name come from?"
STklos is a continuation (no pun intended) of STk, and the STk name comes from Scheme and the Tk GUI toolkit. The STKlos name obviously derives from STk, but where does the `los` suffix come from?

[2019-09-03 11:41] lassik commented on #3
Aha :) Quoting from http://kaolin.unice.fr/STk/:

[2019-09-03 12:51] #2 closed

[2019-09-03 12:54] egallesio commented on #3
Yes  indeed this is the composition of STk (which was the composition of Scheme and Tk) and CLOS.
I'm not very imaginative for naming things :-)

[2019-09-03 12:54] #3 closed

[2019-09-03 12:59] egallesio commented on #2
Yes I have seen that, bug when running inside the container, we have a pty and the TERM variable is defined, so the bug does not appear!!!

[2019-09-03 13:08] lassik commented on #2
You're right. I had the same problem when trying to look into this bug.

[2019-09-03 13:11] lassik commented on #3
I think it's a nice name :) At first I thouht the ST comes from Smalltalk, though the Smalltalk object system is somewhat different.

[2019-09-05 09:35] lassik opened #4 "Text typed into REPL can be almost invisible"
Are you hard-coding a blue or black color for text typed into the REPL when running `stklos` from a terminal? That color is almost invisible on the terminal emulators I use (in general, blue and black text colors are notorious for causing problems on many terminals).

All of the other text (prompt, errors, evaluation results) is clearly visible. The banner (the text with version and copyright at t

[2019-09-18 09:57] egallesio commented on #4
Yes things are mostly hard coded for the REPL. It is on my todo list to have something more configurable. The only solution I see is a variable that could be defined in the rc file, but I'm not completely fan of that (my terminals are mostly dark but remote ones are generally light), and a set of colors for one kind of terminal is not suitable for the other one.
The thing is that it seems difficul

[2019-09-27 12:20] lassik opened #5 "R7RS define-library support"
I see you have quite a few R7RS features already. That's great! Do you plan to support `(define-library ...)` eventually? If so, I can volunteer to be a beta tester.

The de facto standard for R7RS libraries is to put the `(define-library ...)` form in `foo.sld` and the library implementation in `foo.scm`. The `define-library` contains `(include "foo.scm")` to load the implementation. `cond-expand

[2019-09-27 12:23] lassik commented on #5
Also SRFIs are imported like `(import (srfi 123))` so the library name can contain numbers. Many R7RS implementations load `(srfi 123)` from `x/srfi/123.sld` where `x` is any directory in the import path.

[2019-09-28 14:55] mijodong opened #6 "'ffi.h' file not found"
I'm installing on macOS Mojave version 10.14.6, and when I try to make, I'm getting the following error:

ffi.c:31:12: fatal error: 'ffi.h' file not found
\#  include <ffi.h>

[2019-09-28 15:50] lassik commented on #6
ffi.h is from the libffi library which can be installed from Homebrew:

[code]

and then run `./configure` as you did before

[2019-09-28 15:51] lassik commented on #6
I haven't tested the above, but that's where you can get libffi for Mac.

[2019-10-01 04:50] mijodong commented on #6
Hi @lassik, I installed libffi from homebrew and set the PKG_CONFIG_PATH, but I'm getting the same error. I just ended up using DrRacket for what I needed.

[2019-10-18 16:20] egallesio commented on #6
Hi @mijodong,

I apologize for the long delay to answer (I do not receive notification form github).

This is weird. It means that, for some reason the configure script found that you have libffi installed  but the computed path to access it seem incorrect.
If you run configure with the option --with-provided-ffi , it should work.

[2019-11-28 16:17] egallesio commented on #5
Ouch. I missed that message. Yes I plan to have define-library. I have started to implement and try to finish it asap. Some points are not easy to implement with what is already existing (rename clauses for instance).
Glad to see that you could be a beta tester :-)

[2019-11-28 16:17] #5 closed

[2019-12-10 22:59] lassik commented on #5
Awesome news!! Good luck with the implementation. There are quite a lot of intricacies.

[2020-01-31 12:39] jpellegrini opened #7 "Can't cross-compile"
Hello.
I am trying to cross-compile STKlos so it runs on a MIPS machine, running Linux (it's a wireless router, runs OpenWRT).

Compilation is done inside the OpenWRT buildroot, which does a lot of things automatically. i have set the configure step as this:

[code]

However, the configure arguments are ignored when the GC `configure` script runs.

[code]

The host and target systems should not be

[2020-01-31 12:44] jpellegrini commented on #7
This is the output of compilation with

[code]

[stklos-compile-no-autoreconf.txt](https://github.com/egallesio/STklos/files/4139406/stklos-compile-no-autoreconf.txt)

[2020-02-04 13:19] jpellegrini opened #8 "thread-sleep! complains about bad timeout"
Hello,
I am using the master git branch, and for some reason `thread-sleep!` doesn't accept the usual arguments:

[code]

However, the alternative implementation contained in SRFI-18 works:
[code]

[2020-02-06 17:11] jpellegrini commented on #4
What about creating some procedures for changing the colors? Then the user could change the colors dynamically, or even call the procedures in `stklosrc`. If you need different colors in different hosts, it would be possible to query environment variables in those hosts and set the colors accordingly.

[2020-02-06 23:00] lassik commented on #4
I'd recommend some mechanism other than environment variables, As most people already have a big list of different envars and it's not easy to write anything complex in there.

Perhaps an `init.scm` file in the home directory somewhere? That file could call Scheme procedures to set the colors.

Recent versions of Mac applications detect whether the OS is set to a "dark" or "light" theme and do int

[2020-02-06 23:03] lassik commented on #4
Though there's still the problem that one person can use multiple terminal themes on the same computer. It can make it easier to pay attention to different windows if they are different colors.

Almost all command-line programs I have work fine quite well with any terminal theme, but they usually do it by using extremely simple colors.

In principle, ANSI color theming is supposed to be the soluti

[2020-02-07 02:31] jpellegrini commented on #4
Yes -- env vars was just one example -- I'd check `$HOSTNAME` and decide what color to use. A silly example:

[code]

But I could have used `(hostname)`, or maybe a command line option, read via `(argv)`.
STklos would only offer the colorsetting procedure. It already has `getenv`, `hostname` and `argv`.

But there is `stklosrc` already... That's exactly what I meant -- set the colors in a Scheme i

[2020-02-07 02:34] jpellegrini commented on #4
Yes. And the user could enter STklos and, in each REPL, set a different theme:

[code]

`set-repl-theme` would be a user procedure, built on top of `set-repl-background` and other similar procedures.

Which would be possible by using a simple theme (black+white, for example)

If the user could build her own themes, and some interesting pre-built themes were offered, wouldn't it be ok?

[2020-02-07 13:08] lassik commented on #4
All of that sounds good. I didn't know there's already a `stklosrc`.

Maybe there should be no colors by default (i.e. the text would be standard white-on-black or black-on-white), but custom Scheme procedures to set them if you want to.

[2020-02-07 13:50] egallesio commented on #4
I've added a theme system for the REPL. I'll try to commit it later today.

[2020-02-07 14:21] jpellegrini commented on #4
I had also noticed we can get a black and white REPL bu calling
[code]

or by doing this:

[code]

But a themable REPL is really a great thing, much better!

[2020-02-07 15:06] lassik commented on #4
Great. Thank you for responding to feedback @egallesio!

[2020-02-07 17:23] egallesio commented on #4
I have committed a patch to allow the customization of console colors

The parameter new function `repl-theme` returns the list of color associations currently in use.

To change the REPL theme, you can just use
   - `(repl-theme 'xxx)` where xxx is one of `classic`, `monochrome`or ` minimal`
   - `(rep-theme '(:error red :prompt (bold red) ...))` to fix a   personal theme

To change only one colo

[2020-02-07 17:26] egallesio commented on #4
BTW, the default theme is classic (nearly the same as before, but it should avoid the problem you had @lassik. Tell me if this is not the case and I'll change the default values of the classic theme.

[2020-02-07 18:16] egallesio commented on #8
This is fixed. Thanks for signaling this bug.

[2020-02-07 18:16] #8 closed

[2020-02-08 11:40] lassik commented on #4
Just compiled and tried the latest. Great work, the `repl-theme` command is very nice! And yes, the problem of invisible REPL input is solved in the default theme.

[2020-02-08 11:40] #4 closed

[2020-02-10 16:37] egallesio commented on #7
Hi @jpellegrini ,

That is a great news that you are trying to port STklos on OpenWRT/MIPS.
The problem is that  we cannot pass all the parameters to the main configure script to the one in subdirectories since they will most of them will be rejected by the configure scripts. The only parameters from the main scripts which are passed to the libraries are CC and CFLAGS. Should the
--host and --buil

[2020-02-10 17:06] jpellegrini commented on #7
Yes, --host and --build are important, but I'm not sure what other parameters should be passed (the buildroot used in OpenWRT is a complex environment).

I'll try passing --build and --host and see if it works.

Anyway, using system libraries and none provided works perfectly for cross-compiling.

[2020-02-11 09:22] jpellegrini opened #10 "stklos-compile cannot find module `stklos-compiler`"
On a standard installation, I can use `stklos-compile`, which produces byte-compiled code perfectly.

But when I compile it, install on a temporary directory, then move the directorywith the full installation to another machine (a wireless router), then `stklos` works, but `stklos-compiler` does not.

On my desktop:
[code]

On the other machine:

[code]

All files were put in their places, just as

[2020-02-20 18:16] jpellegrini commented on #10
More information:

On my PC,

[code]

The output is exactly the same on the target machine (where `stklos-compile` claims that the module is not available), so I suppose it's just that `stklos-compile` is not able to locate the module (wrong spelling? case? path?)

[2020-02-21 09:18] egallesio commented on #10
Sorry for the long delay to answer, but I have no notification for new issues.

I have not exactly the same behavior when I use the displaced version of STklos. Anyway, it does not work too,  and the reason is that that *load-path* is absolute and not relative to the place where the stklos program is found. I look how to change that  and tell you.

[2020-02-21 09:27] egallesio commented on #10
BTW,  please, can you try to use the --prepend-load-path option of stklos-compile to see if it solves things for you?

[2020-02-21 11:37] jpellegrini commented on #10
It does not, unfortunately. I suppose it is because the error happens before stklos-compile has a change to look into the arguments.

[2020-02-21 11:47] jpellegrini commented on #10
Thank you!

I'm not sure if this helps, but -- when cross-compiling, `configure` is called with these arguments (besides `--host`, etc):

[code]

Then, the build system calls

[code]

And later, the files are copied from `some-internal-directory` to the target machine, where they will be according to the `--prefix` and other path flags given to `configure`.

[2020-02-21 11:54] jpellegrini commented on #10
Also, maybe this helps:

On my PC (where stklos-compile works):
[code]

On the target device (where it fails):
[code]

Both look very similar, actually. On the PC STklos was installed in `/usr/local/`, and on the target device, on `/usr/`. I have already tried to change the prefic on the device to `/usr/local/`, but the same problem happens.

[2020-02-21 21:24] egallesio commented on #10
It's really weird since I had some problems when I reproduce your test but with some differences. I have pushed a modification of `utils/stklos-script.in` but I suppose that it will not help you.
Can you test it anyway. And please can you do the following test
[code]
and tell me the output you have.
BTW, can you copy the `utils/shlib-options` on your target machine and tell me the output you have.

[2020-02-21 21:59] jpellegrini commented on #10
Ok, let's see:

[code]

This happens with both the previous and the new version of stklos.

The `shlib-options` script output:

[code]

[2020-02-21 22:04] jpellegrini commented on #10
Not sure if this helps, but this is the beginning of `/usr/share/stklos/1.31/compfile.ostk`:

[code]

[2020-02-21 22:07] egallesio commented on #10
Thanks.

Weird Weird.

And can you tell me what is the result of

[code]

On 21/02/2020 23:04, jpellegrini wrote:

--
Erick Gallesio
Université Nice Sophia Antipolis

[2020-02-21 22:08] jpellegrini commented on #10
Here:

[code]

[2020-02-21 22:21] jpellegrini commented on #10
The output from `(map module-name (all-modules))` is exactly the same on the PC (where stklos-compile works)!

[2020-02-21 22:49] egallesio commented on #10
OK: More and more mysterious. Can you try to launch stklos with the -c
option and try the same call to compile-file?

Thanks again

[2020-02-21 22:52] jpellegrini commented on #10
Just did it. The output is the same:

[code]

[2020-02-22 00:16] jpellegrini commented on #10
I wasnt clear: with the `-c` option, `stklos-compile` still fails on the device, but works on the PC.

[2020-02-22 11:14] jpellegrini commented on #10
Oh, wait! I've found something else. I was going to try tracing some procedures to see if I could find out where the problem is... But it doesn't work:

On the PC, I get this:
[code]

But on the other device,
[code]

[2020-02-22 11:26] jpellegrini commented on #10
I have made these changes to module.stk on the router:
[code]
but it seems that `%module-import ` is not being called:
[code]

On the other hand, there is no other file in `/usr/share/stklos/1.31` that could print that message:
[code]

Also, `~/.stklos` only contains `stklosrc` and nothing else (that was just a test):
[code]

[2020-02-22 11:43] egallesio commented on #10
OK. It seems to be related to module name which are uppercase and are compiled with the -c option. Can you delete the .ostk in the share/stklos/1.31 directory and see if it makes a difference. Another test could be to make an installation with a modified tmpcomp script without the -c option.
The problem with uppercase/lowercase come form R5RS which explicitly ask to make no difference (and STklos

[2020-02-22 11:47] jpellegrini commented on #10
But the `-c` option made no difference when I tested. Anyway,

After `rm /usr/share/stklos/1.31/compfile.ostk`, and even `rm /usr/share/stklos/1.31/*.ostk` the problem persists.

I'll try to compile with the modified `tmpcomp`

[2020-02-22 11:54] jpellegrini commented on #10
Ok, I modified the source, so `tmpcomp` would not use `-c` when calling stklos, made a new package, removed the old one, and installed the new one. The problem is still there... I don't get it. Quite an esoteric bug, this seems to be!

[2020-02-22 12:06] jpellegrini commented on #10
I found something!

When I said I had compiled a new package, I had used a previous installation (on the PC) of STklos.

Now I tried to compile the modified sources on the PC, but compilation fails!
[code]

This isof course because I have removed the `-c` flag! Now it begins to make sense...

[2020-02-22 23:36] egallesio commented on #10
Just to be sure: if you use the version on github, and you try
[code]

[2020-02-22 23:44] egallesio commented on #10
Just to be sure. Can you try to load explicitly compfile.stk (you should have an error) and compfile.ostk (it should work).

[code]
If you have problem with both file, cans you verify that the ostk file is really a compiled file. Can you compare it with the version you have on your desktop.

This bug is really crazy. I really don't understand what can be different here.
Thanks again.

[2020-02-23 00:01] jpellegrini commented on #10
Yes, both will give the same error on the router. But both also give that same error on the desktop!

Now, the `.ostk` files are different!
On the desktop, I have
[code]
and on the router,
[code]

Some identifiers are uppercase on the desktop version, and lowercase on the router:
[code]

Also, the PC version has `:globals ()`, while the router version has `:globals (compile-file)`.

The bytes that

[2020-02-23 00:11] jpellegrini commented on #10
Sorry -- on the PC, I can load `/usr/local/share/stklos/1.31/compfile.ostk`. but `/usr/local/share/stklos/1.31/compfile.stk` gives an error. On the router, both produce the error.

[2020-02-23 09:50] egallesio commented on #10
We finally start to have something o explore.

It would be very cool if you can upload this ostk file somewhere. You are sure that you have compiled it with the unmodified version of tmpcomp (with -c)? Because, that is really weird.
If I understand well the osk files were produced on your desktop while cross compiling STklos;  not really with the mips STklos compiler. I don't grab why it could ind

[2020-02-23 11:08] jpellegrini commented on #10
Yes -- I'm sure. I just tested again, and I also recompiled STklos locally on the PC.  The ostk files are indeed different.
Do environment variables have any effect on how compfile works?

The ostk files are here:

http://aleph0.info/jp/pc-compfile.ostk

http://aleph0.info/jp/router-compfile.ostk

[2020-02-23 11:19] jpellegrini commented on #10
Maybe a qemu emulator will help? I will see if it works on an emulated MIPS machine...

[2020-02-23 12:27] jpellegrini commented on #10
So -- the same problem happens on the emulator. I'll try to emulate other architectures, although I really doubt this is the issue.

If you want to try (can be a bit tedious, as there is a lot of waiting-for-compilation-to-finish involved), this is how you can get OpenWRT running on qemu:

https://openwrt.org/docs/guide-user/virtualization/qemu

But remember to run `make menuconfig` and to select

[2020-02-23 15:14] jpellegrini commented on #10
Ok.

I am in the PC local of STklos source.

[code]
(No difference!)

And that is the same bad `ostk` file I got in the router. I don't get it.

I tested emulating an ARM machine in qemu -- same problem.

[2020-02-23 15:50] jpellegrini commented on #10
Found it.

In the OpenWRT buildroot, this happens:
[code]

On the desktop, when compiling my local installation,
[code]

It seems that if, when cross-compiling, I do

[code]
or
[code]

then, since `stklos-compile` is used instead of `tmpcomp`, the `ostk` file generated is wrong.

Shouldn't `stklos-compile` and `tmpcomp` be interchangeable?

[2020-02-23 19:52] egallesio commented on #10
Normally NO.

I'm not able to download these files. aleph0.info is not responding.

[2020-02-23 20:13] egallesio commented on #10
Yes they should. In fact tmpcomp is used until the system is completely boostraped.

It makes sense.
I'm just wondering: Can you copy the test repository on the router and run on it
[code]
I have jut an horrible doubt: perhaps the bug we try to fix is due to a a function which returns a bad result without error and the manifestation we see infile compilation is just a side effect of this.
The test

[2020-02-23 20:16] egallesio commented on #10
Thanks for your indications for running on qemu. I will try to install all this stuff but I'm not sure the machine I'll have next week (an old laptop) will be sufficient for that.

[2020-02-23 23:49] jpellegrini commented on #10
I think it is not actually necessary to use the emulator... You can tell wether the ostk file is good by looking at it. And the problem seems to happen on the PC, when compiling.

Anyway, I'll run the tests when I get back home.

[2020-02-24 03:22] jpellegrini commented on #10
Hm, the tests run fine on the PC, without error:

[code]

But the some tests fail on one router (I have two others, I'll test them):

[code]
Comment out the call/cc test, try again:
[code]
Comment out circular, one more try:
[code]

But still, `stklos-compile` and `tmpcomp` were giving different results, on the same machine (the desktop)...

[2020-02-24 03:41] jpellegrini commented on #10
Ah!

Both MIPS big-endian routers segfault as I showed before. The MIPS *little endian* router passes all tests, but `stklos-compile` still does not work.

So there are two different issues: one is the `ostk` file generated differently by `stklos-compiler` and `tmpcomp`, and the other is that STklos seems to not be working on big endian machines.

I'll keep digging.

[2020-02-24 13:39] jpellegrini commented on #10
Ok. I suppose it would be better to open a different issue:

* on the same machine (my PC, amd64), `tmpcomp` and `stklos-compile` generate different compiled files, and this seems to be causing the problem I originally reported, because one of them generates module names with the wrong case
* STklos' `call/cc` doesn't seem to work on big endian machines

About the secong issue, I have ran the STkl

[2020-02-24 13:44] jpellegrini commented on #10
Forgot to add: the test logs end like this:
[code]
So it seems that the test that failed is the one right after Al Petrofsky.

[2020-02-24 22:26] jpellegrini opened #11 "STklos tests crash on some big-endian machines"
This is a separate issue from #10 so I opened this new one.

I have ran the STklos tests on some machines:

[code]

(*) I don't know why this one segfaults the circular structures test.
    It is an old router, running with the root filesystem on a pendrive,
    and low on memory. Maybe it had not enough memory to finish.

Memory is in Mb.
"malta" is emulated MIPS.
In the memory column, "128+64" m

[2020-03-05 14:41] egallesio commented on #10
Hi @jpellegrini,

Sorry for the long pause on this bug.
I have finally modified STklos to be case-sensitive by default now (it was needed since STklos tends to be R7 now). It should avoid the problems you had when cross compiling (at least I hope so). From the two ostk files you provide me, I think that the problem was only due to case sensitivity. Can you tell me please if it is OK when cross com

[2020-03-05 15:51] jpellegrini commented on #10
Hello!

YES!!! It works, `stklos-compile` runs perfectly on both devices!
Thank you a lot!

[2020-03-05 16:46] egallesio commented on #10
Great. Thank your for your help.
Now, I will have a look at Issue #11  :-)

[2020-03-05 16:47] #10 closed

[2020-03-05 16:48] #1 closed

[2020-05-08 21:31] salilsdesai commented on #6
@mijodong I had the same issue and it was fixed by running
`
$ brew install pkg-config libffi
$ pip install cffi
`
(credit: https://firstblogpart2.wordpress.com/2019/04/10/ffi-h-file-not-found/)

[2020-05-15 14:08] jpellegrini commented on #11
I've made a little progress here.

before I show what I found, I'll add some more specific instructions to reproduce the gdb output I got:

- use a router with extroot, or a qemu virtual machine, in order to be able to install gdb
- compile the stklos OpenWRT package, install on the router, using gcc-10 with `CFLAGS="-g -O0 -fanalyzer"`
- for some reason, even though I compiled with `-g -O0`, the

[2020-05-15 15:25] jpellegrini commented on #11
Didn' tthink too much about this, but... On machines with different endiannes, wouldn't this
[code]
be a problem?

[2020-05-15 20:21] jpellegrini commented on #11
Ok. I am confused now.

I  removed the loop from `verif_environment`:

[code]

Now STklos passes all tests (!!!) on my big-endian machine.

However, running gdb on the tests fails... With `SIGPWR`  (uh???)

[code]

(And gdb won't find more debugging info, even though the binary does have debug_info and was not stripped -- probably, it crashed inside pthreads code...)
But it only crashes inside gdb

[2020-05-30 07:55] #6 closed

[2020-05-30 08:01] egallesio commented on #6
Thanks @salilsdesai for your fix. Only the first line was necessary
[code]
The problem comes from the fact that MacOs install libraries without installing the corresponding headers. So, `libffi` is installed whereas `ffi.h` is not.

[2020-05-30 08:04] egallesio commented on #6
BTW, the solution I gave [previously](https://github.com/egallesio/STklos/issues/6#issuecomment-543818450) didn't work since automake the companion scripts were too old.
This is corrected now

[2020-05-30 08:20] lassik commented on #6
Homebrew doesn't install the pkg-config `.pc` definition files into a standard place in the default pkg-config search path, so you have to add each Homebrew package manually to the search path like this:

`export PKG_CONFIG_PATH=$(brew --prefix libffi)/lib/pkgconfig`

`PKG_CONFIG_PATH` is a colon (`:`) separated list of directories containing `.pc` files. Subdirectories are not searched. So it's j

[2020-05-30 17:41] egallesio commented on #6
Hi @lassik ,
This is weird. I don't need to change the `PKG_CONFIG_PATH` variable to access the pc file as you said (on a Mojave machine I have access to).
pkg-config seems to retrieve everything:
[code]
Hope it works on other MacOs versions.

[2020-06-03 10:19] egallesio commented on #11
Hi @jpellegrini,

Just a quick response before a longer one...
I have just restarted to have time to work on STklos and I have seen your 3 (long) messages. I've just started to read them and I need more time have to figure out all the information they contain.

First, thank you for showing me the -fanalyzer option of gcc (didn't notice that, but it is tremendously interesting).
To answer one of yo

[2020-06-03 10:47] jpellegrini commented on #11
Ok -- I have tried, but since I am compiling against musl (not glibc), `-DSTK_DEBUG` doesn't work (because musl does not support `execinfo.h`, which seems to be necessary when using `STk_debug`.

Anyway -- about the `SIGPWR` problem, I'm not sure I can trust gdb on that.
I will try to run more tests on more big-endian machines.

[2020-06-03 12:28] egallesio commented on #11
Global response to the messages of the 05/15

1. I definitively must look at the result of -fanalyzer. I don't completely grab the results displayed, but having a static analysis is really cool.
2. I don't think  that the endianess of the underlying machine could be a problem since the whole value should be  grabbed as a whole form memory to a register before  doing the and operation.
3. In fact t

[2020-06-03 12:51] egallesio commented on #11
To be able to compile on musl, you can comment the function `%c-backtrace` which should be the only one needing `execinfo.h`.

[2020-06-08 13:55] egallesio commented on #11
Of course, don't worry (and there is no obligation to do so of course). I didn't want to hurry up  you.
Since, I have failed to make a really workable MIPS environment on qemu, I'm will not be able to test it myself.
If you have time to test it would be great, but take your time (after all you seem to be the only user trying to run STklos on those weird architectures ;-)

[2020-06-08 17:57] jpellegrini commented on #11
Ok - I have made a pull request with the fix. Basically,   the patch changes the order of tests inside the 'if', so IS_IN_STACKP(e) is checked before FRAMEP(e). That seems to fix the problem on all my machines, and on the 32-big big-endian MIPS emulator.

It is indeed a weird architecture. Big-endian is supposed to be dead, but there are wireless routers being produced using big-endian mips! (In f

[2020-06-09 12:28] lassik opened #15 "Docker containers"
Re: commit b5c8b34

The [Scheme containers](https://github.com/scheme-containers) project publishes stable and unstable ("latest" and "head") containers of STklos here: https://hub.docker.com/r/schemers/stklos/tags

Our Dockerfiles here: https://github.com/scheme-containers/stklos

Our containers are based on Debian Linux. I see that your `etc/Docker/Dockerfile.latest` is based on Alpine and the b

[2020-06-09 16:08] egallesio commented on #15
Hi @lassik,

The Scheme containers project is a really a great idea and it permits to easily compare Scheme
flavors. I used it as a start to build my docker files. However, I must admit that I didn't
understood that you have several versions for each implementation (the main reason why I made my own Docker files is that stable versions of STklos are ... rare ;-). This is why I have created an
acco

[2020-06-10 10:29] jpellegrini commented on #11
@egallesio thanks for accepting the PR!
I have tested again, and everything is fine -- as far as I am concerned, this issue can be closed!

[2020-06-10 17:40] jpellegrini opened #16 "SRFI 180 (JSON)"
Hi,
JSON is quite important these days, and SRF 180 has an example implementation. It would be nice to have it in STklos!
J.

[2020-06-12 15:34] egallesio commented on #16
I agree that having JSON is important and in fact, you already have access to
a JSON reader/writer through a SmPkg package. This was a port of the Dominique
Boucher's parse he wrote in 2007.

You can install it with `$ stklos-pkg -i json`

Hereafter, is a simple example:

[code]
Of course, this is less complete than the draft SRFI, but it's already here.

Porting SRFI-180  when it will be finalize

[2020-06-17 17:37] jpellegrini opened #18 "Information on download page"
Hi @egallesio !

On the download page, 1.31 is still listed as the latest version, although 1.40 is out. And the link to "source distribution" also points to 1.31.

One other thing: there are also two links, one to gitlab and one to github. Is one of those preferred? If so, maybe it would be nice to mention it there.

[2020-06-17 17:40] jpellegrini opened #19 "SUPPORTED-SRFIS"
The file SUPPORTED-SRFIS seems to not have been modified in a long time.

Perhaps it would be nice to have a single source for the list of supported SRFIs? The webpage could perhaps point to an updated version of that file?

[2020-06-17 17:53] jpellegrini commented on #7
I have made libgc packages for OpenWRT, so it is possible to get STklos running.

I'm not sure if this bug is still relevant -- it would be nice if STklos could be compiled with its own libgc on different platforms, but for OpenWRT this is already dealt with in a different way.

[2020-06-18 07:16] egallesio commented on #18
Oops, There was a bug in my script to update the web site. This is corrected now. Thanks to have signaled this issue.

About the preferred git repository, my preference would have been gitlab, but since github seems more used, I suppose that activity on STklos will be more visible if I stick with github and have a copy tree on gitlab. Anyway, all the pushes are synchronized and the trees are the s

[2020-06-18 08:25] egallesio commented on #7
I don't understand: Do you have installed a new libgc globally or have you tried to configure with the --with-provided-gc option?

[2020-06-18 10:27] jpellegrini commented on #7
I have packaged and installed libgc on OpenWRT, so using `--with-provided-gc` is not necessary.

[2020-06-18 13:20] egallesio commented on #19
You are right, I have missed the update of this file.

However, maintaining the list of SRFIS is a real mess. In fact we need two lists:
1. one list for the current version which contains the SRFIs of that given version
2. one list (on the site) for the last stable release (to not advertise for things which are in the git tree and not in the stable version).

In fact, the source list for the SRFIs

[2020-06-18 20:42] jpellegrini opened #21 "PORTING-NOTES"
It seems that PORTING-NOTES is also outdated...
Maybe it would be nice to re-check it?

I have two suggestions:
1. it runs on Banana Pi, and quite probably on the Raspberry Pi, running armbian.
2. it runs on OpenWRT (ARM and MIPS), and I have tested this on a few platforms.

I can open a pull request with that information, but if you are willing to revamp the file, maybe adding or removing fields

[2020-06-18 21:14] jpellegrini opened #22 "Cannot install stklos-gtk-base"
Hello,
I am running a Debian system, and  tried to run the GTK example on the website.

[code]
Ok, so the repository is up to date. Now,
[code]

That library is provided by Debian package `libglib2.0-dev`, which is installed, and the files are in place:
[code]

Is it a path issue? Do I need to tell stklos-pkg where to find the libraries?

[2020-06-19 10:22] jpellegrini opened #23 "Webpage: SRFI has wrong title"
SRFI 45, "Primitives for Expressing Iterative Lazy Algorithms", is listed on the webpage as
"Optional positional and named parameters"

[2020-06-19 18:27] jpellegrini opened #24 "SRFI-1 x STklos make-list behavior"
Hello.
It seems that STklos make-list is not consistent with SRFI-1's `make-list`:
[code]
Not a problem for most practical purposes. But... I have ported  SRFI-51 to STklos (still did not make the pull request, but it's mostly ready) -- and then there is this problem:
- since SRFI-51 uses append-reverse, which is in SRFI-1, but not in plain STklos, I required "srfi-1" in SRFI-51;
- but when I run

[2020-06-21 16:04] lassik commented on #18
This is correct, for better or worse.

[2020-06-21 16:32] egallesio commented on #23
Weird! I have corrected it and rebuild the web site. It is online now.
Thanks

[2020-06-21 16:32] #23 closed

[2020-06-21 16:55] egallesio commented on #24
Hi @jpellegrini,
Another solution could be to modify the srfi-1 implementation so that it returns #void (which probably didn't exist when I have  ported SRFI-1 (or even suppress it from SRFI-1 since it is R7RS now)

R7RS states:  .... Otherwise the initial contents of each element is unspecified.
SRFI-1 states: ....  If the fill argument is not given, the elements of the list may be arbitrary valu

[2020-06-21 17:34] lassik commented on #24
If STklos supports a void/unspecified value, that one is probably the best choice.

`#f` is also fine, but as you say, it would be to use the same one for the RnRS and SRFI 1 versions.

[2020-06-21 18:39] jpellegrini commented on #24
Ok - I'll look into changing the SRFI-1 implementation.

By the way -- Chicken needs "`import (srfi 1))`" before using make-list, and it uses #f:
[code]

[2020-06-21 18:49] jpellegrini commented on #24
It was actually a one-liner! I have included it in the pull request (did a git force-push, the PR now has two commits).

[2020-06-21 21:24] egallesio commented on #22
Libraries are searched in `/usr/lib` and `/usr/local/lib` only.
Try to set the shell variable `STKLOS_GTK_DIR` to `/usr/lib/x86_64-linux-gnu/` before running stklos-pkg and it should be OK.
Tell me if it works for you.

[2020-06-21 21:43] jpellegrini commented on #22
Thank you @egallesio it works!

It would be nice to add this to the tutorial on the webpage -- setting `STKLOS_GTK_DIR` may be needed -- and if it's needed, it will be both during installation with `stklos-pkg` and during program execution.

Anyway, the example worked perfectly.

[2020-06-22 07:59] #19 closed

[2020-06-22 08:00] #18 closed

[2020-06-22 15:48] egallesio commented on #21
Hi,

Yes, the information in this file was really old. I have updated it (but I'm not too found of the result). You can modify as you like  to insert  the platforms you tested.

Thanks again for your work.

[2020-06-22 15:50] egallesio commented on #7
Do you think that we can close this issue?
If you think so, can you close it?

[2020-06-22 16:19] jpellegrini commented on #7
Yes, sure!

[2020-06-22 16:19] #7 closed

[2020-06-22 16:20] jpellegrini commented on #21
Ok, I'll do that later.

[2020-06-22 16:21] jpellegrini commented on #24
Commit 7f0550e31d99783c35a43465a8377974815dd938 fixes this; is it OK to close the issue now?

[2020-06-23 07:29] egallesio commented on #24
Yes, it can be closed.
However,  I will rework this SRFI since I have seen are some more incoherence now that some functions it defines are in R7RS.

[2020-06-23 07:41] jpellegrini commented on #24
Ok, closing!

[2020-06-23 07:41] #24 closed

[2020-06-23 10:42] egallesio commented on #22
You are correct and I have added a little note about this variable on the web site.

[2020-06-23 11:43] jpellegrini commented on #22
Thanks @egallesio -- but I can't see thenote you added. Is it on the GTK programming tutorial page, https://stklos.net/stklos-gtk-base.html ?

[2020-06-23 12:17] egallesio commented on #22
It is on the front page https://stklos.net/screenshots.html which gives access to this page. But if you didn't see, it is probably because it is not so well placed. So, I have added this  note again on the 3 explanations pages.

[2020-06-23 12:52] jpellegrini commented on #22
Yes, I see now!

For me this issue is resolved. Can I close?

[2020-06-23 14:52] #22 closed

[2020-06-24 14:03] jpellegrini opened #28 "Compiling on Android (it almost works)"
Hello.
Since I seem to like putting Scheme on all kinds of embedded devices, I tried compiling STklos on Android.
What follows is a draft of what could be a `INSTALL-android.md` file (but it doesn't work yet).

I'd like to start working on this, if there is interest.

# Installing STklos on Android

Instead of cross-compiling, compile in Termux, which has all build tools available.
This means the

[2020-06-24 16:57] egallesio commented on #28
Waouh! It is really a terrific news. I'll try to fix all the points you have spotted and , thanks to the clear information you provide, it should be easy to correct most of them. I'll have a look to this in a couple of days.

[2020-06-25 13:44] jpellegrini opened #29 "Hash tables with equality predicate string-ci=? give wrong result"
Something strange is happening with hash tables with equality predicates:

[code]

Requiring SRFI-69 and repeating the above gives the same result.

Anyway, `string-ci=?` seems to be fine:

[code]

The problem would be in `hash.c`, I suppose?

[2020-06-26 00:08] jpellegrini opened #32 "Small problems in the manual"
These refer to the PDF manual, in `doc/pdf`

---

The example for `vector-copy`, on page 66, uses "string" when it should be "vector":

[code]

A leftover from copy/paste, I guess. :)

---

In the example for `socket-accept`, on page 128, the paragraph that starts with "The following example is a simple server" says the port used will be 12345, but the code uses port 13345.

---

Maybe it would al

[2020-06-26 00:11] jpellegrini commented on #32
If you tell me how to change thesource of the documentation, I could send PRs when I find problems.

[2020-06-27 15:18] jpellegrini commented on #28
Hello @egallesio -- your recent changes made it possible to compile on Android!  :)

Note: for Termux, the configure line should be

[code]

and you may run make without sudo.

Then STklos can be used inside Termux.

It may be possible to use STklos outside Termux, but it could be a little trickier, perhaps.

If the user has root access on the Android device,  STklos works:

[code]

Without root a

[2020-06-27 22:22] jpellegrini commented on #32
One more:
In page 108 of the PDF, it is said that `(machine-type)` result string is of the form `'(os-name)-'(os-version)-'(processor-type)`, but STklos does not implement a `(processor-type)` procedure. As I understand form the output, the manual should say  `'(os-name)-'(os-version)-'(cpu-architecture)`:

[code]

[2020-06-28 09:05] egallesio commented on #28
Yes, it was a little bit intentionally :-) The work you start was really helpful for running STklos on Android (I must admit that I had no idea how to start such a port and I thought it would be more difficult than that). Thanks again for showing me the way to compile it on this platform.

In fact, you can use the standard lib pcre (it has been split in two parts:`libpcre` and `libpcreposix`). Add

[2020-06-28 11:37] jpellegrini commented on #28
Hello!

Well, this is great!
I'm working on the instructions.

Anyway -- you did not commit your alternative `pthread_cancel` yet, right? (On my phone I still need the `--threads=none` flag).

Also... For some reason, although STklos works, it cannot find its libraries, which _are_ installed:

[code]

[code]

[code]

Why would STklos not find them? It seems that the load path is garbled:

[code]

[2020-06-28 12:36] jpellegrini commented on #28
Found it!
In `bonus.stk`, the `file-separator` definition doesn't list `android` as a possible running OS. This:

[code]

Fixes it.

[2020-06-29 05:20] egallesio commented on #28
Hi,
No, I have not committed the code concerning threads, since I'm still working on it.
I have correct the `file-separator` bug. Thanks.

[2020-06-29 14:46] egallesio commented on #28
Hi @jpellegrini,

I think tat everything is OK now for android. The current implementation of `thread-terminate!` on this platform is limited to the current thread (suicide)
Implementation of a compatibility layer is possible. However, implies that we need  to keep a list of all the mutexes owned by the thread to be killed. This can be done but, since it implies a cost, even on OS with  `pthread_c

[2020-06-29 14:53] jpellegrini commented on #28
Great, it works!  Compilation and tests are fine, and stklos-pkg, stlkos-compile seem to work.
I'll make a PR with the README-android file.

[2020-06-29 23:17] jpellegrini opened #35 "How to implement modules that have several parts?"
Is there a rpeferred way to implement modules, or SRFIs which are broken into different parts? For example, SRFI-41 has two parts, "primitive" and "derived". SRFI-159 has several submodules.

I thought that, for example, SRFI-41 could be implemented as two STklos modules, "streams-primitive" and "streams-deived", and then one third module "srfi-41" which requires the other two. Is this OK? (That w

[2020-06-30 09:41] egallesio commented on #32
I think I have corrected all the errors of this issue.

It was said in the documentation of `socket-xxxput-port` that the port was textual.
However, I have changed the port to be textual AND binary. It will be simpler if the server is a pure data server.

All the documentation is in the `doc/skb` directoy and in the sources. Changing the documentation is not too difficult, what is more tricky is b

[2020-06-30 10:07] egallesio commented on #29
In fact this behavior is "normal". The comparison function is used for the items which are in the very same bucket. Here the standard  hash function returns (by luck) the same bucket for "Aa" and "aa", but a different one for "AA". So, when you search "aa" or "Aa", you'll find the value stored in the list associated to the bucket. Conversely , the "AA" hash value returns a different bucket (an emp

[2020-06-30 10:41] jpellegrini commented on #32
Hi @egallesio - thank you for explaining this.

I see that the documentation is fixed in the HTML, but it seems like the PDF still has the `(vector-copy string ...)` problem...

[2020-06-30 10:44] jpellegrini commented on #29
Hmm, the Guile tests for SRFI-171 (transducers) fail on STklos because of this. I'll check if it's just the tests or the implementation itself.

[2020-06-30 11:53] jpellegrini commented on #29
The documentation says alist->hashtable accepts a hash function, such as hash-table-hash, but something doesn't seem to be working:

[code]

[2020-06-30 13:53] jpellegrini commented on #29
Ok then! I've adapted SRFI-171.

[2020-06-30 13:53] #29 closed

[2020-07-01 09:22] egallesio commented on #32
I don't know what I have done. Ii should be OK now!

[2020-07-01 09:23] egallesio commented on #28
Maybe this issue can be closed. No?

[2020-07-01 09:39] jpellegrini commented on #28
Yes!

[2020-07-01 09:39] #28 closed

[2020-07-01 09:40] jpellegrini commented on #32
Yes, it's fixed! :)

[2020-07-01 09:40] #32 closed

[2020-07-02 12:21] egallesio commented on #35
I think this is definitvely the correct way to go. Furthermore, it permits to load only a part of the SRFI, or replace one part with a better implementation later.

Exactly!

[2020-07-02 14:05] jpellegrini commented on #35
Thank you!
I'll start working on SRFI-41 and, maybe, SRFI-159.

[2020-07-02 14:05] #35 closed

[2020-07-02 20:37] jpellegrini opened #41 "Behavior of delay"
Hello,

According to R7RS, delay is supposed to be used to implement lazy evaluation - but it doesn't say it "must not" evaluate its argument... In page 19, it is said that implementations may do "implicit forcing" when "the value of a promise is forced by procedures that operate only on arguments of a certain type, like cdr and *. However, procedure that operate uniformly on their arguments, like

[2020-07-03 11:48] jpellegrini opened #43 "Small typo in documentation"
In the manual and SUPPORTED-SRFIs, "Transducers" is missing the "a":

[code]

But I don't know how  to fix it (I was hoping that the grep command above would show me where in the source it was typed wrong, so I could fix it, but it only detects `SUPPORTED-SRFIS` and `stklos-ref-14.html`.)

[2020-07-03 12:26] jpellegrini opened #44 "How to include a part of SLIB which is also a SRFI?"
SRFI-95, for example, is part of SLIB, and STklos users do have access to SLIB.
But it would be nice to have SRFIs working in a uniform way, no? So the user could just `(require "srfi-95")`?

In this case, would it be OK to duplicate the code from SLIB?

I see one problem -- if SLIB is updated, then the code in STklos could lag behind.
If SLIB was hosted in a git server, STklos could have it as a

[2020-07-03 12:35] egallesio commented on #43
I have seen it and corrected it this morning, and I will commit that soon. The error comes from the file `doc/skb/srfi.stk`. But I have to rebuild the documentation to propagate the correction everywhere. Since the documentation use my old version of Skribe, it is not rebuilt when you do a make at the toplevel (it is only built when you are in the `skb` directory).

[2020-07-03 14:16] jpellegrini commented on #43
Ah ok, I see the fix was pushed. Closing...

[2020-07-03 14:16] #43 closed

[2020-07-04 14:44] jpellegrini opened #46 "(R7RS) current-{output,input,error}-port should be parameter objects"
Hello,

According to R7RS, `current-output-port` should be a parameter object, so this:

[code]

should write `"hey"` to the file `"oo"`. But STklos does not let me do that:

[code]

I see that these are implemented as primitives in `port.c`.

Anyway -- the current  STklos documentation on `current-output-port` says it returns the current output port, and doesn't mention parameterize, but it is li

[2020-07-04 19:32] lassik commented on #44
The public interface of a SRFI is frozen when the SRFI is finalized, so it can no longer change. I'm not sure whether or not an existing SLIB library's interface can change in the future.

[2020-07-04 19:33] lassik commented on #44
In both cases (SRFI and SLIB), the implementation can of course change to fix bugs and optimize performance.

[2020-07-04 21:06] jpellegrini commented on #44
Yes -- that's what I meant. If the implementation in SLIB changes, we wouldn't get it automatically. We may not even know about it...
But I see there's no other way - maybe it is the case of clearly tagging the STklos included version with a comment in the code.

[2020-07-04 21:16] lassik commented on #44
This is a good idea.

[2020-07-05 14:15] jpellegrini commented on #16
SRFI-180 is now final!

I am working on getting the reference implementation to work on STklos, but there are some issues (some tests do not pass), so it may take a while.

Specifically, the test `i_number_huge_exp.json` raises an "`Unexpected object`" condition; and several string tests fail because the parsed string has trailing zero characters.

[2020-07-05 14:42] jpellegrini commented on #16
@lassik  have you ran the tests from the reference implementation?

This:

[code]

seems wrong. The file contains

[code]

which should be parsed as a husrfi-180@srfi.schemers.orgge number, or as infinity.

@lassik  have you ran the tests from the reference implementation?

This:

[code]

seems wrong. That file contains

[code]

which should be parsed as a huge number, or as infinity.

The github

[2020-07-05 14:50] jpellegrini commented on #16
Also, as far as I could check, although infinities are not allowed in the JSON spec, it is usual to, when reading a huge number, parse it as infinity. Python3, Emacs Lisp, Javascript and Ruby do that, but the reference implementation doesn't seem to allow infinities (they're explicitly ruled out in `raise-unless-valid?`.

[2020-07-05 15:13] jpellegrini commented on #16
So, I can skip that test - it is the only one that fails outside the Unicode area.

Now, the implementation seems to get confused with Unicode:

In one of the tests, it is supposed to read and reproduce the string  "Полтора Землекопа".
It parses and returns a string which has length 33, although the string has 17 UTF8 characters.

It is actually doing UTF-8 encoding in UTF-8! (The UTF8 encoding of

[2020-07-06 08:18] egallesio commented on #16
I have started too the port of SRFI-180. I have not concentrated too much  on the code itself but on the tests. Anyway, if you want, you can continue since I will not have a lot of time to complete it soon.

I have seen the bug with `i_number_huge_exp.json`. I think that the result should be `#(+inf.0)` in this particular case.

However, I'm not very found of the tests of this SRFI, they are proba

[2020-07-06 08:21] egallesio commented on #16
Can you tell me please, what is the test with this string? I'll try to have a look at it.
Thanks.

[2020-07-06 08:55] jpellegrini commented on #16
Hi,

It is this one:

[code]

[2020-07-06 08:57] jpellegrini commented on #16
I will try again later -- I got into something else now...

Sure!

[2020-07-07 14:31] egallesio commented on #16
Hi @jpellegrini ,

The test about "Полтора Землекопа" is OK for me (at least if inlined in the test file).  ;-)

[2020-07-07 14:49] jpellegrini commented on #16
Hi @egallesio !
With the reference implementation?

I have the reference implementation added in the `srfi-180` branch in my Github copy of STklos... That test, and a couple of others, do not pass.

I'll try using your tests

[2020-07-07 15:24] jpellegrini commented on #16
The tests you included didn't all pass for me:

[code]

If I comment out the "complex.3" test, it works.

I am using the reference implementation, which is in that branch I told you. I'll look into this a bit more later.

[2020-07-08 20:35] jpellegrini commented on #16
All tests that are included in STklos now pass here.
Maybe this issue could be closed?

* STklos has a small and efficient VM (suitable for embedded devices). With the SRFIs that are being added, it is becoming a really fantastic choice for Scheme programming!

[2020-07-09 17:21] jpellegrini opened #53 "Broken links in STklos website"
In the Screeshots/GUI page, there is the sentence "_This model is described in the JFP and ISOTAS papers_."
Both links are broken.

[2020-07-09 17:29] jpellegrini commented on #53
And also in the code/explanation page, where the same links are presented again.

[2020-07-10 14:09] egallesio commented on #16
Thank  you!
Concerning the many supported SRFIs, most of them are present thanks to **your** hard work.

[2020-07-10 14:09] #16 closed

[2020-07-10 14:14] egallesio commented on #21
In any case, to be bullet-proof , my push script to github recreates automatically this  file from the content of the `srfi.stk` file in the documentation.

May I close this issue?

[2020-07-10 14:20] egallesio commented on #53
I don't understand. It is OK for me. The URLs for the  3 links are
1. http://www.stklos.net/~eg/Publis/jfp03.pdf
2. http://www.stklos.net/~eg/Publis/Isotas96.pdf
3. https://www.stklos.net/stklos-gtklos.html

Can you test again please?

[2020-07-10 14:25] egallesio commented on #46
I'm aware of this problem and my first attempts to transform these functions in parameters was a fail. If I remember, I had problems with the integration with threads, as well as  the way they are  actually implemented).

It is on my TODO list, but keeping it in this list of issues will force me to finish the work.

[2020-07-10 14:43] egallesio commented on #44
Hi @jpellegrini and @lassik,

I thought that Aubrey didn't develop anymore SLIB and I was surprised to see that he published a version in 2020. Anyway, by looking at the changelog, the development pace is low and last time that the sort file has been touched is in 2011 (after the publication of this SRFI anyway).
Since the portion of code is small and since the probability that this code evolves (

[2020-07-10 14:44] jpellegrini commented on #53
Hi,
From the two first links I get a 404 page...
The third works.

[2020-07-10 14:44] jpellegrini commented on #44
Okay! :)
I suppose this issue can be closed also...

[2020-07-10 15:05] jpellegrini commented on #53
I did not mean the link to that page; I meant the link to the papers, which also appear in that page.

[2020-07-10 15:24] egallesio commented on #53
Weird! Anyway, the 2 first links uses http. Is it OK if you use https?
Normally it should be identical (it is for me)!

[2020-07-10 15:27] egallesio commented on #53
My firefox rewrites http link in https. I'll change all the links in https

[2020-07-10 15:32] jpellegrini commented on #53
Aha! That's it.   It only works with https.

[2020-07-10 15:39] egallesio commented on #53
OK. I have updated the web site. It should be OK now.
It seems, I'll have to look at my NGINX configuration !!!

[2020-07-10 15:51] jpellegrini commented on #53
It's fixed!

[2020-07-10 15:52] jpellegrini commented on #21
Are you sure this is the right issue? This one is about PORTING-NOTES (which I guess can be closed)... You're talking about the other, SUPPORTED-SRFIS?

[2020-07-10 18:45] egallesio commented on #41
Yes it is. In fact, binary operations that can be computed at compile time are replaced by their result as you can see here
[code]
As you see the function returns 12 and does not do the computation at each call. This is a small optimization and it doesn't work yet  with n-ary usage of `+` .

So, For STklos, the code `(/ 3 2)` is equivalent to 3/2. The example you gave `(delay (/ 1 0))` is in the
R

[2020-07-10 18:51] jpellegrini commented on #41
Is there a way around this? When is the error called? During the optimization? If so, would it be reasonable to catch error during the optimization phase, and ignore them (or have an option to turn them into warnings?)

I forgot :) - I'll check again.
But even if the reference implementation uses it, we can adapt. :)

[2020-07-10 19:39] lassik commented on #16
It's wonderful to see so much good work go into Scheme at such a fast pace lately!

[2020-07-10 19:47] lassik commented on #46
Are there general difficulties with parameters in the presence of threads, or just with the current-*-port parameters?

[2020-07-10 19:51] lassik commented on #44
Sounds good.

Chibi-Scheme recently added a "library alias"  feature, so that one library name can simply be an alias for another, and either name can be imported. Gauche has a similar (but more comprehensive) feature where a library can extend another library (similar to how an OOP subclass extends its superclass).

If some libraries are in both SRFI and SLIB, an alias feature could come in handy

[2020-07-10 19:52] lassik commented on #44
Here's an example from Chibi: https://github.com/ashinn/chibi-scheme/blob/master/lib/scheme/comparator.sld

[2020-07-11 03:39] jpellegrini commented on #41
Ok no problem - it was actually an example I used when I taught Scheme years ago. But it isn't necessary.
I'll submit a PR with SRFI-41 tomorrow!

[2020-07-11 12:25] jpellegrini opened #55 "STklos introduces identical symbols in different phases of macro expansion using syntax rules"
STklos introduces identical symbols in different phases of macro expansion using syntax rules:

[code]

Here's the STklos expansion:

[code]

some other implementations will return

[code]

I rewrote some macros for SRFI-156 and SRFI-41 using `define-macro`, but it feels like the wrong way to go... As far as I could see, SRFI-86 would also need some macro rewriting (and its implementation is quite

[2020-07-11 14:43] jpellegrini opened #57 "gtk-canvas installation"
I was trying to install the `gtk-canvas` package, but `stklos-pkg` said I don't have goocanvas installed. However, I do...

What happens is that the `configure.in` in `stklos-gtk-canvas` searches for `goocanvas`, and in Debian `pkg-config` has it with the name `goocanvas-2.0` (ouch!)

Is it possible to make the "`goocanvas`" text in `configure.in` configurable? Something like a variable `GOOCANVAS

[2020-07-12 12:03] jpellegrini opened #61 "Unicode strings"
Hello,

I was going to port SRFIs  129 and130, but their tests fail. It seems that `string-length` does not work for Unicode strings:

[code]

(By the way, there is a `srfi-130` branch in my copy of your repository on github)

[2020-07-13 11:00] egallesio commented on #21
Oops, you are correct. I was thinking of SUPPORTED-SRFIS. Please, forget my previous message.
Anyway, in your last message you said that you want to do something later, but the ports you've done on Arms and Mips architectures are already described. Do you think to something else?

[2020-07-13 11:12] egallesio commented on #41
I have tried, and was not able to find another example, where you don't want that `(/ 1 0)` is considered as equivalent to `1/0`. In fact this is just what does this optimization. No Scheme that I know admits `(delay 1/0)` as a correct expression, since the reader does not accept `1/0` as a valid number. In STklos, it is the optimization phase  which considers that there is a problem, but we can i

[2020-07-13 11:17] egallesio commented on #44
In fact, we also hav alias on symbols (and by introspecting a module we can find all the symbols of the module)
[code]

In fact, the problem is that SRFIS are provided with STklos distribution, but the SLIB is not (and is not mandatory). So, we cannot suppose that the SLIB is present for implementing a given SRFI.

[2020-07-13 11:30] jpellegrini commented on #41
You're right... Sorry for the noise! I believe we can close this, then?

[2020-07-13 11:32] jpellegrini commented on #21
I think it's all there already!

[2020-07-13 12:17] egallesio commented on #41
No problem at all
I close it.

[2020-07-13 12:17] #41 closed

[2020-07-13 12:20] egallesio commented on #61
What is even weird is that

[code]
I look at this one.

[2020-07-13 12:57] #53 closed

[2020-07-13 13:02] egallesio commented on #61
It is corrected, but I'm afraid that this mistake could be present elsewhere... l look at that.

[2020-07-13 13:27] egallesio commented on #61
Quickly checked on the other uses of `STk_makestring` with a second argument equal to `NULL`, and it seems OK.

[2020-07-13 14:14] jpellegrini commented on #61
Yes, it seems to be fixed! :)
SRFI-129 tests pass, except for a problem; I'll put it in a different issue

[2020-07-13 14:14] #61 closed

[2020-07-13 17:32] jpellegrini opened #63 "SRFI-13: string-prefix? and string-suffix? seems to always answer #f"
Isn't this strange?

[code]

[2020-07-13 18:23] egallesio commented on #21
OK!
So i close this issue.

[2020-07-13 18:23] #21 closed

[2020-07-13 19:54] jpellegrini commented on #55
Perhaps, when fixing this, it would be nice to consider using the new macro-related SRFis by Marc Nieper-Wißkirchen?
https://srfi.schemers.org/?keywords=syntax

[2020-07-13 20:35] jpellegrini commented on #63
This is porbably related:

[code]

[2020-07-13 22:07] jpellegrini commented on #63
`%%check-indexes-func` seems to calculate `max` as `-1`, then it fails here:

[code]

[2020-07-13 22:59] jpellegrini commented on #63
And if I skip the index checking in `string-prefix-length`,  `%string-suffix-length` is called with `end1`=`-1`, which makes it bail out returning zero...

[2020-07-14 14:22] jpellegrini commented on #63
See pull request #64 ... I'm working on this.

[2020-07-14 14:47] jpellegrini commented on #63
I think PR #64  resolves this... Maybe you'll want to add more tests, or check something else?

[2020-07-14 15:01] jpellegrini opened #65 "Need an R7RS module system... :)"
For example, SRFI-13shadoes some R7RS procedures. So, in the tests, when we `(require "srfi-13")`, those procedures are gone. but then STklos, *without restarting*, will go on and do other tests, and when it gets to R7RS tests, the `string-map` fails.

The workaround I found was to "put back" the original `string-map` after testing SRFI-13, but this could become hard to manage.

R7RS modules would

[2020-07-14 15:03] jpellegrini commented on #65
I meant "the `string-map` test fails"... Sorry!

[2020-07-14 16:29] jpellegrini commented on #65
It actually seems it wouldn't he hard to implement R7RS modules using what STklos already has...

[2020-07-14 16:45] jpellegrini commented on #63
Checked again, the bug is gone! :)

[2020-07-14 16:45] #63 closed

[2020-07-14 17:53] egallesio commented on #63
It seems OK. Thanks for the correction of this bug (and for the tests)

[2020-07-14 22:22] jpellegrini commented on #65
If it's OK, I'm willing to try to get a working R7RS module system

[2020-07-15 15:31] jpellegrini opened #67 "raise-continuable does not raise an exception?"
In STklos, `raise-continuable` doesn't seem to raise an exception:

[code]

This is relevant for SRFI-189 (which went final today) -- since STklos does not raise an exception, two of the tests fail.

[2020-07-15 15:58] jpellegrini commented on #67
(By the way, SRFI-189 is in my branch "srfi-189"...  I didn't make a PR yest because of those two failing tests, that have to do with this issue)

[2020-07-15 19:31] lassik opened #70 "SRFI 115: Scheme Regular Expressions"
https://srfi.schemers.org/srfi-115/srfi-115.html

How hard would this be to implement using PCRE?

[2020-07-15 19:36] jpellegrini commented on #70
It would be nice to have this SRFI, since it's part of R7RS large.

Now, what would be the advantage of re-implementing it with PCRE? Performance only, or something else?

[2020-07-15 19:47] lassik commented on #65
IIRC @egallesio said he is working on this.

BTW, regarding the big `(features)` list,  R7RS specifies a neat extension to `cond-expand`. This:

[code]

will only produce `123` when a library named `(srfi 69)` is available for importing. Most SRFIs are implemented as their own library in R7RS implementations, so this can be used instead of adding lots of feature identifiers (at least for R7RS code

[2020-07-15 19:49] lassik commented on #70
The main thing is that we wouldn't need to have the matcher in Scheme code since PCRE already implements it. We could just translate each S-expression regexp to a string suitable for PCRE. Presumably PCRE is also a lot faster.

[2020-07-15 19:51] lassik commented on #44
R7TS

[2020-07-15 19:53] lassik commented on #44
The R7RS library system can re-export symbols natively:

[code]

[2020-07-15 19:54] lassik commented on #44
But you have to manually write all the symbols `a b c` in the `export` clause. This is arguably a good thing: automatically re-exporting "all symbols defined in `bar`" will easily have an unexpected effect since it's easy to forget the existence of some internal symbols and accidentally export them.

[2020-07-15 20:00] jpellegrini commented on #70
Hmm, that sounds really nice!
The Scheme with a FAST implementation of SRFI-115.   :) :)

[2020-07-15 20:01] jpellegrini commented on #65
Ah, ok -- I'll wait for him to finish then!

[2020-07-16 12:30] jpellegrini opened #72 "ANSI color codes - repeated escape sequences"
Hi,

It looks like the `ansi-color` procedure produces repeated color escape codes, and this confuses at least one terminal emulator (terminology, the one which comes with Enlightenment).

[code]

The opening of the color code right after "bbb" is repeated, `\e[\e[`.

A bach script with this single line,

[code]
for example, produces

[code]

because the escape opening before "!!!" is repeated.

S

[2020-07-16 18:06] egallesio commented on #65
I think this is not true. In fact, STklos modules offers more or less the same isolation than R7RS libraries. The real problem is that we **do not** use  modules for the implementation of SRFIs (excepted the internal functions which are hidden to the user).

The origin of the way SRFIs are implemented in STklos, is historical. STk, the ancestor of STklos, was R3RS and then R4RS (yes I'm this old!)

[2020-07-16 18:09] egallesio commented on #65
Before choosing a new way to implement SRFIs, I suppose that shifting the `test-srfi` at the end in `do-test.stk` would work, since only the SRFI may introduce functions with a behavior which is different of STklos functions.
It's hacky but it should works, no?

[2020-07-16 19:32] jpellegrini commented on #65
Hi @egallesio !

No problem - I'm 47, so not exactly young :)

Old code will do `require`, and the semantics of require could stay the same... R7RS does not mention it!  It only talks about "`import`"...

Then, new code could do the same as always, `(require "srfi-13")`, or

[code]

to get SRFI-13 (and, if I understand R7RS correctly, this would also load the necessary files). Or even import or re

[2020-07-16 19:40] jpellegrini commented on #65
and document it, of course!

[2020-07-16 19:57] jpellegrini commented on #65
Ok, I think I need to complement what I said:

There are two different actions: one, find the file where a SRFI or module is; and two, load parts (or all) of a known (loaded) module into the current module. Right?

* `require` does (1)
* `import` only does (2), but not (1)
* because of the way SRFIs are implemented, `require`ing them will also perform (2).

The second point (`import` does not auto

[2020-07-17 14:37] jpellegrini opened #74 "Question on optimizing code in SRFI reference implementations"
Is it a goal?

For example, SRFI-133 (see pull request #73) recommends some optimization, but there are some Scheme implementations that do not do that (Chicken, for example - which is not a slow Scheme).

I was checking SRFI-132, Sort Libraries, and there is the same recommendation,

So, do I optimize when submitting?  I'd then write some new procedures in C.

[2020-07-17 15:19] lassik commented on #74
The sample implementations are meant to be correct - not necessarily fast. Thus, it's a good idea to optimize speed-critical parts for each Scheme implementation. However, an unoptimized implementation can still be useful.

Chicken compiles Scheme to C, a strategy that produces quite fast code even without manual optimization. I suppose they ran some benchmarks and decided that the unoptimized ver

[2020-07-18 20:10] jpellegrini commented on #70
@lassik do you want to work on this?

[2020-07-19 07:31] lassik commented on #70
I don't have time to do a full implementation, but I can give pointers.

`irregex` is a well-known Scheme library by Alex Shinn, author of Chibi-Scheme. It has been ported to Chicken and probably other Schemes. Among other things, it contains a `sre->string` utility that converts (what I believe is) a SRFI 115 SRE (Scheme Regular Expression) into a PCRE string regexp. Here it is:

https://github.c

[2020-07-19 07:33] lassik commented on #70
Documentation for the irregex library:

http://snow-fort.org/s/gmail.com/alexshinn/chibi/irregex/0.9.3/index.html

Here's the PCRE library that ships with Chibi-Scheme:

https://github.com/ashinn/chibi-scheme/blob/master/lib/chibi/regexp/pcre.scm

It has a converter in the opposite direction: `pcre->sre`.

[2020-07-19 07:34] lassik commented on #70
Alex's code is generally MIT/BSD licensed.

[2020-07-19 08:07] lassik opened #75 "Git information in -V output"
Would there be simple way to add the Git properties from SRFI 176 into the `-V` output?

[code]

Tag: `git describe --tags --abbrev=0 2>/dev/null || true`
Branch: `git rev-parse --abbrev-ref HEAD 2>/dev/null || true`
Commit: `git rev-parse --short HEAD 2>/dev/null || true`
List of files with uncommitted changes:
[code]

Git information cannot be retrieved by the `./configure` script, since all kin

[2020-07-19 08:28] lassik commented on #72
ANSI codes are of the form:

* `#\escape #\[ <digits>#\m`
* `#\escape #\[ <digits> #\; <digits> #\m`
* etc.

So our ANSI emitter has a bug. Here's a short way to reproduce it:

[code]

The bug is [here](https://github.com/egallesio/STklos/blob/afab62a760755958c6c4ca4cc2054d0bea339abe/lib/bonus.stk#L920). When flattening a sublist, it forgets whether or not it was building an ANSI escape before it

[2020-07-19 10:28] jpellegrini commented on #75
The `Makefile` could output to a `git_config.h` file, and this one would then be included in stklos. Should work...

[2020-07-19 10:33] lassik commented on #75
The [SRFI's sample implementation](https://github.com/scheme-requests-for-implementation/srfi-176/tree/master/implementation) contains an example of that approach in the file `scheme-build.sh`. That shell script generates a `scheme_env_build.c` like you suggest.

[2020-07-19 10:39] jpellegrini commented on #75
Even better - there is already a `stklosconf.h`...

[2020-07-19 11:06] lassik commented on #75
The top of `stklosconf.h` says:

[code]

So if we append our own stuff in there, `./configure` will probably overwrite it.

[2020-07-19 11:43] jpellegrini commented on #75
Yes. I thought it would be possible for the Makefile to append information to `src/stklosconf.h`, but I realize this would be fragile.

[2020-07-19 11:44] lassik commented on #75
I agree (purely based on intuition, not proof). It's probably more reliable to use a different file.

[2020-07-19 11:56] jpellegrini commented on #75
However, I always have problems with autotools. I don't know where to include the code, since `Makefile.am` doesn't seem to have a rule that would do something like "compiling"...

[2020-07-19 12:10] lassik commented on #75
I also am not acquainted with automake.

It's a bit complex since the git information can basically change whenever anything else changes, since we're tracking everything in git. That's a lot of changes. So in the Makefile, our `git_config.h` file would have a dependency on every other file (!). Something like that :) This problem is more complex than I thought when `make` is involved.

[2020-07-19 12:18] jpellegrini commented on #75
One could _assume_ that, once `make` was called on the command line, no changes were done which are relevant to git information (which I think is reasonable)...

But I agree, this needs to be in  `Makefile`, not the configure script.

[2020-07-19 12:34] lassik commented on #75
It's reasonable to assume that between starting `make` and getting the finished executable, no Git changes are done. But editing files and making commits before running `make` changes the Git info. The right place to get the git info would be every time when running `make`.

[2020-07-19 12:36] lassik commented on #75
I tried the following shell script `git_config.sh`:

[code]

It writes a C file like this:

[code]

According to `time ./git_config.sh ` it takes 0.03-0.04 seconds on my computer. So it shouldn't be so slow as to cause problems. The main issue is whether it's simple enough to add to the `Makefile` without resorting to some dirty hack :)

[2020-07-21 15:07] jpellegrini opened #81 "disassemble is not documented"
I got used to disassembling code a lot when I programmed in Common Lisp (with SBCL).
I just found that STklos has a `disassemble` procedure! But it isn't mentioned in the manual...

[2020-07-28 14:25] egallesio commented on #55
Hi @jpellegrini.

It is clear that the  macro system must be rewritten, but hygienic macros are far above my head. This is why the implementation of macro is so poor in STklos :disappointed: .

 About this bug, I have found that there is already a kludge in the source that I have added for this problem ( it was added in 2002 from the comment, and I don't remember all the story). By using a `%%` in

[2020-07-28 14:31] jpellegrini commented on #55
Thanks @egallesio ! :)
I'll try to rework this PR today to use that, then...

[2020-07-28 14:53] jpellegrini commented on #55
Anyway - where is the macro code of STklos located?

[2020-07-28 15:43] egallesio commented on #55
The code for non hygienic macro is in the compiler and the code for hygienic macro is in `lib/mbe.stk`

[2020-07-29 09:27] jpellegrini commented on #72
@lassik I tried running STklos with your patch, and the result is still the same...

[code]

still shows the repeated sequence... And terminology still shows the `0;1m` after the prompt.

[2020-07-29 09:58] lassik commented on #72
The current output works like this:

[code]

So `'clear` is encoded as a blank [SGR parameter](https://en.wikipedia.org/wiki/ANSI_escape_code#SGR), not as a number.

Clear can also be encoded as the parameter number `0`. I can't find where `clear` is defined in the STklos source, but try changing it to `0` instead of blank and see if that solves the problem.

[2020-07-29 10:03] jpellegrini opened #83 "SRFI-175 not listed in *all-features*"
I don't understand.

[code]

But it *is* there:

[code]

And it *is* listed in `*all-features*`, in `srfi-0.stk`:

[code]

What could be happening?

I did `make uninstall`, `make distclean`, `autoreconf`, and installed again, just to be sure, but it doesn't seem to be listed...

[2020-07-29 10:04] lassik commented on #83
Does `touch lib/boot.stk; make` help?

[2020-07-29 10:07] jpellegrini commented on #72
ooh, wait! @egallesio should it really be `clear`? Or should the code used in `repl.stk` have been `normal`?

[code]

The ANSI color code table in `bonus.stk` only defines `'normal`... So `'clear` probably falls through some `case` or something like that.

[2020-07-29 10:13] jpellegrini commented on #83
Yes.
But it is totally weird that a distclean followed by a new install doesn't fix it!

And -- by the way, after I did `touch lib/boot.stk; make`, the color codes in the REPL (bug #72 ) were good again!

[2020-07-29 10:15] jpellegrini commented on #72
* it looks like the current code actually works, and what was missing is to touch boot.stk. It's really strange, because I had done a distclean followed by a fresh build, and still boot.stk wasn't compiled (?)

Anyway, it seems like this bug is fixed...

About `clear`:  I guess it is intended to generate a blank SGR parameter, indeed, and it seems to be working.

[2020-07-29 10:26] lassik commented on #83
Good to hear!

The `touch` updates the last-modified timestamp, forcing the Scheme image to be rebuilt. Perhaps a `clean` or `distclean` should force a rebuild as well, but bootstrapping tends to be tricky. We'd best ask @egallesio what to do.

[2020-07-29 10:32] lassik commented on #72
You're right. The code that looks them up in the assoc list is [here](https://github.com/egallesio/STklos/blob/afab62a760755958c6c4ca4cc2054d0bea339abe/lib/bonus.stk#L871).

The blank string is the same as SGR `0`, i.e. reset all display attributes to defaults. You can test it from sh/bash with `printf 'default \x1b[31m red \x1b[m default\n'`

So any unknown color code would reset the foreground a

[2020-07-29 10:33] lassik commented on #72
In any case, to avoid confusion, it would be best to rename all `clear` to `normal`. `normal` is explicitly defined as `0` in the lookup procedure above.

[2020-07-29 10:36] lassik opened #84 "make sometimes does not rebuild the Scheme image"
Continuing from #83:

Sometimes `make` builds a version of STklos using the old Scheme image even when changes have been made to the Scheme source code in `lib`. A manual workaround is `touch lib/boot.stk; make` but it would be great to find a way to automate this.

[2020-07-29 10:42] jpellegrini commented on #84
One way would be declaring the boot target as `.PHONY` in `Makefile.am` -- I *suppose* (I always have a problem with autotools)...
That would force it to always run - but it would remake the boot image even when not needed.

[2020-07-29 10:42] jpellegrini commented on #84
(I mean, the `Makefile.am` in `lib/`)

[2020-07-29 16:24] egallesio commented on #72
Yes it is best to rename the `clear` in `boot.stk` with `normal`. Anyway, I think that the default that returns an empty string should remain. I do modify the repl file.

[2020-07-29 16:41] egallesio commented on #72
If I have understood it is already OK for you @jpellegrini. The version I just pushed should not change things. I let you close this issue  if it is effectively OK for you :crossed_fingers:

[2020-07-29 16:50] egallesio commented on #84
Normally the files that must provoke an image rebuilding are in the scheme_BOOT list of `lib/Makefile.am`. This list contains the files that are directly (or indirectly) included in `boot.stk`. It is very possible that some dependence is not listed in this variable. Do you think to a particular file?

[2020-07-29 16:55] lassik commented on #84
The following `.stk` files have been modified in the last 100 commits:

`git log --stat -n 100 | grep '^ .*.stk ' | sed 's@^ @@' | sed 's@ .*@@' | sort | uniq`

[code]

So there are no obvious files missing from `scheme_BOOT`.

[2020-07-29 16:56] egallesio commented on #81
That's true. I have not documented it because I thought that it implies to also document the VM instructions. But perhaps it is a weird idea and `disassemble` could be documented  without describing those instructions. What do you think?

[2020-07-29 17:02] egallesio commented on #67
It should be corrected now. The semantic I used was not exactly the same that the one found in other R7RS implementations (I'm not sure that what  had was incorrect since, I find the R7RS document *fuzzy* on this point)

Anyway, things should be better and `raise-continuable` raise its parameter value now.

Thanks for signaling the problem.

[2020-07-29 17:16] egallesio commented on #83
You are right. I modified the `lib/Makefile.am` so that a `make distclean` will always rebuid the image.

I agree!!  :roll_eyes:

[2020-07-29 22:40] jpellegrini commented on #67
Yes! It works...

I have one question: if `guard` catches exceptions raised by `raise`, shouldn't it also work with `raise-continuable`?

[code]

If this is the expected behavior, then the SRFI-189 tests are wrong...

[2020-07-29 22:41] jpellegrini commented on #83
Well, SRFI-175 is there now :)
So I think we can close this...

[2020-07-29 22:41] #83 closed

[2020-07-29 22:42] jpellegrini commented on #72
Yes, it works now! The escape sequence is correct, and the prompt looks fine again.

[2020-07-29 22:42] #72 closed

[2020-07-29 22:45] jpellegrini commented on #81
I think it would be OK to have disasemble documented... The VM opcodes are not completely esoteric after all  :)

I will see if I come up with an initial documentation of the opcodes. Maybe at least part of them.

[2020-07-29 22:46] jpellegrini commented on #55
Ok, I understand how it works now...

I am reviewing the macro system options and SRFIs, articles, etc, related to them. It may take a while, but if you don't mind @egallesio , I'd like to try to come up with a new implementation for STklos.

[2020-07-30 06:21] lassik commented on #84
Commit `e14c57d`: The STklos boot image is always rebuilt now after a make distclean

[2020-07-30 06:22] lassik commented on #84
Commit e14c57d: The STklos boot image is always rebuilt now after a make distclean

[2020-07-30 16:09] egallesio commented on #67
I have pushed a new version of `guard` This should be OK, as far as I understand what is required by this special form.

[2020-07-30 16:12] egallesio commented on #55
This would be really **great**!!!

[2020-07-30 17:08] jpellegrini commented on #55
It seemsthat Marc is planning to work on a general, portable implementation of a macro system, which would be updated when new macro features arise (in new SRFIs for example). If that is the case, then it would be better to wait and incorporate it, no?

[2020-07-30 17:27] egallesio commented on #81
That's true. Do, I have added some minimal documentation for it. It is pushed.

That's a lot of work and it is probably the most urgent thing to do. Furthermore,  the interested public would be  relatively small imho.

[2020-07-30 19:27] jpellegrini commented on #67
Hm, when `guard` doesn't catch an exception and re-throws it, shouldn't it keep it "continuable" ?

[code]

This should result in `(-5)` -- it does so in Chibi and Gauche (I mean `gauche -r7`).
But in STklos it complains as if the exception was not continuable:

[code]

[2020-07-30 19:27] jpellegrini commented on #67
* it should be `symbol->string` and not `symbol>-string` there, but it doesn't matter - that code wouldn't be executed anyway.

[2020-07-30 23:37] jpellegrini commented on #55
Marc Nieper-Wißkirchen, I meant. Sorry, was in a hurry!

[2020-07-31 10:46] jpellegrini commented on #81
I agree, but if 2 more people understand the VM and can contribute, it would be nice, wouldn't it? :)

I have a partial document for some opcodes (immediate values, arithmetic, basic stack operations).  It's markdown, but I can change to something else if needed.

[2020-07-31 11:45] jpellegrini commented on #81
Ok, I made a PR (#85 )...

[2020-07-31 17:51] egallesio commented on #67
I have pushed a new version and this should be OK this time (I hope so)

In fact with `raise-continuable` chibi and gosh evaluate to -5 . But with `raise`, result is an error on chibi (and petite), but still -5 with Gauche. Cyclone has the (old) behavior of STklos.

It seems that everyone has a different interpretation of R7RS. Anyway, the actual implementation seems the more reasonable.

Tell me

[2020-07-31 18:01] egallesio commented on #81
Yep! you're right.

A great contribution! Thanks.

[2020-07-31 18:08] jpellegrini commented on #67
But it doesn't continue?

[code]

Here, since the exception is continuable, after going through the handler `(lambda (x) (- x))`, the `-5` should have been sent back to the form which caused the continuable exception, and then turned into a list, resulting in `(-5)`.

At least it's what I get from R7RS... Anyway, it looks like Sagittarius and Chicken with the R7RS egg also return `(-5)` .

[2020-07-31 18:09] jpellegrini commented on #67
I forgot to say -- it should result in the list `(-5)`, not the number `-5`, as it does now... unless I misinterpreted R7RS.

[2020-07-31 18:26] jpellegrini commented on #84
I believe this is fixed, no?

[2020-07-31 18:28] jpellegrini opened #87 "STklos does support parallel compilation! (But this is not documented)"
I;m not sure where to document this, but STklos does support parallel compilation. I have been running `make -j10` everytime I build STklos, and it never failed because of that.

I see that STklos uses the standard GNU autotools INSALL file; I'm not sure if it would be better to change it or to write different instructions.

[2020-07-31 18:46] jpellegrini opened #88 "Makefile in lib/ uses ld instead of expanding the loader macro"
After a while I tried again to compile STklos on OpenWRT, and it seems that the C part of SRFI-175 won't compile. This is because the compiler (CC) part of the Mkaefile is correct, but the linker (LD) is not:

[code]

If correctly expanded `$CC` fo `mips-openwrt-...`, but kept `ld` from the host machine. Of course, `ld` will complain that I am trying to mix two architectures!

This really should b

[2020-08-01 08:03] egallesio commented on #84
Yep, for me it is fixed.

[2020-08-01 11:00] jpellegrini commented on #75
It seems one can use this in `Makefile.am`:

[code]

and add this to `CFLAGS`:

[code]

and use `_GIT_TAG` in the C code.

https://stackoverflow.com/a/12368262

[2020-08-01 11:03] jpellegrini commented on #75
Maybe the file generated by your solution could be a header file (not a C file), included by `stklos.c`?

Or -- there is also the env var solution I pointed out... But I'm nut sure which one is preferable.

[2020-08-01 12:39] jpellegrini opened #90 "Update needed to manual bibliography"
Hello!
Just a few things I noticed in STklos bibliography in the manual:

* *Chris Hanson -- The SOS Reference Manual, version 1.5 -- March, 1993.* This points to http://groups.csail.mit.edu/mac/projects/scheme/documentation/sos.html which seems to be broken. It looks like MIT Scheme, for example, ships the SOS manual with MIT Scheme itself: https://www.gnu.org/software/mit-scheme/documentation/st

[2020-08-01 18:13] #84 closed

[2020-08-01 18:17] lassik commented on #75
Sure, both of those are fine. The envar solution didn't occur to me. It would be simpler, unless there is a lot of text (which makes the compiler command lines very long).

[2020-08-01 21:15] jpellegrini commented on #75
One thing: the code that retrieves the git information would need to check if it is inside a git checkout (it could be a tarball without the `.git` subdirectory).

I suppose it's not needed to verify wether the git info is really related to the STklos git repo? I could, in theory, have a STklos release (without the git subdir) as a subdirectory of a git project, and then the `git describe` command

[2020-08-01 23:59] jpellegrini opened #91 "Mention IDEs in the documentation?"
There is old [Quack](https://www.neilvandyke.org/quack/) by Neil van Dyke, which still works fine, but it's not being updated...  And there is [Geiser](http://www.nongnu.org/geiser/), and it just got basic support for STklos (https://gitlab.com/emacs-geiser/stklos/)!

[2020-08-02 07:51] lassik commented on #75
Good point.

The `git` command writes an error message to stderr and exits with a nonzero status when it is run outside a Git repo. Hence a command like `git rev-parse --short HEAD 2>/dev/null || true` will succeed with blank output outside a repo. The `2>/dev/null` silences the stderr output, and `|| true` makes sure the exit code is always zero (success).

Even better point. I can't think of any

[2020-08-02 09:32] jpellegrini commented on #75
What about this?

* The sript that retrieves git information stays in `src/`,which is where the C files are (and the `.h` file would be generated there);
* The script checks for a `../.git` directory. If it exists, retrieve the information. If not, don't include it.

[2020-08-02 09:39] lassik commented on #75
Sounds good.

I would just always run the `git` commands instead of checking for the directory. Git has a a feature where you can put the `.git` directory to a non-standard place, so it's not trivial to find it. `time git rev-parse --short HEAD` shows that the command takes 0.006 seconds when run outside a Git repo, so it doesn't really cost anything.

[2020-08-02 09:50] jpellegrini commented on #75
Ok, so there is really no way to tell.

One possible workaround (not perfect) would be to include `git remote -v` information in the generated header file.
Then `(version-alist)` could report

[code]

This is an actual example of how it would work with my setup. :)

[2020-08-02 09:58] lassik commented on #75
The only sure way to tell is to run some `git` subcommand that tells you the gitdir. But if we're running `git` anyway, we might as well directly run the `git` command to print the information we want. It should take less than 0.05 seconds to run all the git commands we need so nobody would notice a slowdown.

That could certainly be done, but it doesn't tell you which remote you are using for the

[2020-08-02 10:05] lassik commented on #75
Perhaps what you're looking for is something like this:

[code]

The output tells you that:

* the local `example` branch is tracking the `android` branch at the remote named `jpellegrini`
* the local `master` branch is tracking the `master` btanch at the remote named `upstream`
* the active (currently checked out) local branch is `master`

Note that the remote names are arbitrary -- I'm using the

[2020-08-02 10:07] lassik commented on #75
The phrase "local branch `foo` is tracking remote branch `bar/baz`" means that "git push" and "git pull" use that remote branch by default. It doesn't guarantee that code is actually synchronized with that branch. Git is very lenient about these things - you can push and pull with other remotes and other local/remote branches as well, in any combination. Those are just the default settings for con

[2020-08-02 10:19] jpellegrini commented on #75
Yes, of course. I'm sorry, I agree it makes no sense to include all the branches the user has. But what you mentioned could be interesting (the current checked out branch) -- do you agree?

[2020-08-02 10:35] lassik commented on #75
No problem :)

SRFI 176 has the following [standard properties for Git](https://srfi.schemers.org/srfi-176/srfi-176.html#_build_properties):

[code]

`build.git.branch` is the currently checked out branch, as you suggest. I agree that it's useful (but only in combination with the commit hash, since new commits are added to branches all the time).

I personally like the `build.git.modified` (which

[2020-08-03 14:50] egallesio commented on #67
Oops. This is definitively more complicate that I thought to implement and I have not yet found a writing  which is always correct :frowning_face:

Still working on that.

[2020-08-04 16:21] egallesio commented on #88
If the LD variable is defined as a shell variable when you launch `configure`, it should be OK.

[2020-08-04 16:33] egallesio commented on #87
Yes, parallel compilation is supported now (it was not always the case). For me it is "normal" and I don't know if it has to be explicitely documented. Perhaps here: https://www.stklos.net/documentation.html#installing-from-sources.
Anyway, I'm not sure that this is really "visible'.

It is very general but it contains a lot of things (uninstall, compilation for multiple architectures, ...). I'm n

[2020-08-04 16:36] egallesio commented on #91
Where do you think it should be documented. Is the Web site a good place?

[2020-08-04 16:37] jpellegrini commented on #88
Aha! It works!
Thank you!

[2020-08-04 16:37] #88 closed

[2020-08-04 16:38] jpellegrini commented on #87
That would help, yes.
It's not the most important thing in the world anyway... :)

[2020-08-04 16:39] jpellegrini commented on #91
I suppose so. But the distribution could also have that in the README. Do you think it would be ok?

[2020-08-04 17:20] egallesio commented on #88
Yes but it does not work anymore with Github CI :frowning_face: !!!

[2020-08-04 18:02] jpellegrini commented on #88
That is strange. Can you check wether `LD` is set, and if it's not, use `ld`?
(I am really not good with autotools)

[2020-08-04 18:13] egallesio commented on #88
This is what I have done. This is OK now with github, still waiting with Docker hub.
Why it worked on my machine is another mystery.

Me too. I'm always surprised by the complexity an unfriendliness of this tools.

[2020-08-04 18:22] jpellegrini commented on #87
Made a PR... #95

[2020-08-06 12:29] jpellegrini opened #96 "Segfault in print.c"
I was experimenting with alexpander, the macro expander by Al Petrofsky, to see if it could be incorporated into STklos, and got a segfault.

[code]
works, but when `write-pretty-quotes` is the default `#t#`, STklos segfaults in `print.c`:

[code]
So, exp's `CDR` is `0x71`, 1000111, which should be a smal constant, did I get it right?

But `print.c` is trying to access `CDR(CDR(exp))`, so this wil

[2020-08-06 12:40] jpellegrini commented on #96
Of course,better than showing the full code for alexpander,here's the expression:

https://gist.github.com/jpellegrini/48147f199b8103b4b593bb79f806b66a

If you do this:

[code]

STklos will segfault.

[2020-08-06 13:16] jpellegrini commented on #55
While we don't get a better system, would it be OK to use alexpander?
It seems like it will work, and it implements SRFI-46.

[2020-08-06 15:07] jpellegrini commented on #55
Found one thing. This may be related to some macro bugs in syntax-rules:

[code]

STklos answers `22`, but it shouldn't. Some other Schemes also do this, but the standard says that if a free variable is introduced by syntax-rules, it should be bound to the value that is visible *at the moment that the macro is created*. So the environment when the macro is created should be used to bind variables

[2020-08-07 07:59] lassik opened #97 "SRFI 193: Command lines"
SRFI 193 is due to be finalized soon. Would you be interested in having it in STklos?

[2020-08-07 19:39] jpellegrini commented on #67
Hey, it looks good now!

[2020-08-07 19:41] jpellegrini commented on #75
Oh, look what I just found:
https://stackoverflow.com/questions/43526939/how-to-insert-git-based-version-in-autoconf-managed-project

[2020-08-07 22:44] jpellegrini commented on #75
@lassik see PR #99 !

[2020-08-08 23:10] #67 closed

[2020-08-09 15:57] jpellegrini commented on #55
I think I found something a bit difficult to get right.

As described in the standard, hygienic macros should use variables from the environment they are defined in. But that means I would need to somehow make references to symbols in temporary environments when the macro is being defined:

[code]

If I try to translate `syntax-rules` to STklos' `define-macro`, it won't work

[code]

When macro `a

[2020-08-09 16:42] egallesio commented on #75
Can we close this Issue?

[2020-08-09 20:07] lassik commented on #75
Yes. Just built the latest `master` and it works great! Thank you for investigating this issue so thoroughly.

[2020-08-09 20:07] #75 closed

[2020-08-11 14:12] jpellegrini opened #100 "duplicate parameter raises an uncatchable error?"
Hi,

If I try to use the wrong number of parameters in a procedure call, STklos signals an error, which I can catch (this is useful in test procedures):

[code]

But... Specifically for duplicate parameters, it won't be catchable:
[code]

Why? Is this intentional?

[2020-08-11 16:04] egallesio commented on #100
Sort of: This is not an error which is cached at run time but at compilation time. Before the lambda is built, the compiler verifies that the parameter list is coherent. This permits to not test it at each call of the function, but only once.
In your first example, the compiler doesn't now the arity of that `sqrt` will have at runtime
[code]

[2020-08-12 00:00] jpellegrini commented on #100
Ok, I see -- it's  acompiler-error, not an error! Thanks!

[2020-08-12 00:00] #100 closed

[2020-08-12 18:52] egallesio commented on #46
It should be OK now.

[2020-08-12 22:43] jpellegrini commented on #46
I suppose we can close this... I have tested `current-output-port` with `parameterize` and also as `(current-output-port some-port)`, and it works fine. Same for error/input.

[2020-08-12 22:43] #46 closed

[2020-08-12 22:44] jpellegrini commented on #91
It's in the README now. Maybe we could close this?

[2020-08-13 07:53] egallesio commented on #91
Web site is also updated.
I close it.

[2020-08-13 07:53] #91 closed

[2020-08-13 09:47] egallesio commented on #90
I have pushed a new version which correct this issue.
Thanks for signaling the errors.

[2020-08-13 09:57] jpellegrini commented on #90
Yes, I see the push! Fixed then...

[2020-08-13 09:57] #90 closed

[2020-08-13 17:16] egallesio commented on #87
The new file `QUICK-INSTALL.md` contains now this information.
The web site has been updated accordingly.

[2020-08-13 17:56] jpellegrini commented on #87
That's great!

[2020-08-13 17:56] #87 closed

[2020-08-14 13:05] jpellegrini opened #102 "Un-hygienic macros problem"
[code]

If I don't use the identifier "form" in the macro, it works as expected.

This seems to be because of the way expanders are defined in the compiler:

[code]

[2020-08-17 14:11] jpellegrini opened #104 "[post-1.50] Split installation of non-essential modules / SRFIs"
It would be nice if it was possible to do things like these:

[code]

so one could have a very small installation of STklos without effort.

This shouldn't be too hard to implement.

[2020-08-17 16:17] egallesio commented on #104
Hi @jpellegrini

Reducing the siez of what is installed is a good idea. The problem is that we could have people with different libs or (worse) old versions of files of an old complete installation which lye down in the install directory. What do you think of having an installation without the manual and without the *.stk files. It has the advantage that the really useful files would be always pre

[2020-08-17 17:40] jpellegrini commented on #104
Ah, I had not thought about that, you're right.

When compiling for OpenWRT, there is a staging installation, and then I pick the files for the package. So I already leave the docs out. It would be nice to have a separate doc install target, it would make it easier.

I was thinking that it could be possible to have installations with specific sets of modules, but as you mentioned, it may not be a

[2020-08-19 16:56] egallesio commented on #104
Do you think that the file `DOCDB` should be part of the base installation?

[code]
It is one of the bigger file of the system, so a good candidate for not being present. On the other side, having it permits to use the
`help` function (and I  think that we have a fully functional installation with less than 2.5Mb.

[2020-08-19 18:05] jpellegrini commented on #104
I think the DOCDB is important, although it could be part of a "`make install-doc`" target. Do you agree?

[2020-08-20 14:57] jpellegrini commented on #55
I'm a bit slow these days - health and personal problems together. That, and I have also been studying ways to get a nice hygienic macro system.  I'll be back soon!

[2020-08-25 13:36] jpellegrini commented on #55
Actually, it seems easy to change it in the compiler, no changes to the VM! Working on it...

[2020-08-25 14:20] jpellegrini commented on #55
`%%local-alias` is not hard to add, it seems (see PR #106 )...

[2020-08-25 15:53] jpellegrini commented on #55
Now the rest could be done by integrating the matching part of alexpander or eiod, using `gensym` for renaming and with a few adaptations. I'll work on this in the next days (still not able to work at full speed... but I'm not gone!)

[2020-08-28 18:35] jpellegrini commented on #104
I see the new commit that splits installation into essential, sources, doc -- that is GREAT!

[2020-08-28 18:41] jpellegrini commented on #55
For full compliance with the standards, it would also be necessary to have a similar %syntax-alias.

[code]
If I remember correctly, the standard does not forbid that. Some Schemes allow redefinition of lambda, let, etc (Chibi does); others do not. But even if not allowing to redefine those, the same scoping rules would need to work for hygienic macros -- all the issues with variables arise with s

[2020-08-28 20:41] jpellegrini opened #107 "disassemble-expr does not disassemble if"
Neither if nor cond...

[code]

[2020-08-29 11:34] jpellegrini commented on #55
One more thing: the correct implementation would probably need to include macro names in the same stack as variable names, since the standard treats symbol binding scope the same way, regardless of their being boud to a value or to a macro transformer:

[code]

STklos does the right thing here:

[code]

but `full-syntax` let-syntax` and `letrec-syntax` -- it does not fix the local `define-syntax`

[2020-08-29 16:26] egallesio commented on #107
It's corrected normally.

[2020-08-29 16:30] egallesio commented on #104
That is true that the difference is quite important. That was a great idea. Thanks for suggesting.

[2020-08-30 22:49] jpellegrini commented on #104
For OpenWRT, I was trying to remove the sources and documentation with a script... DOCDB wasn't removed.

The previous OpenWRT package had 2.3Mb size. The new one, with only `install-base`, is **415k**!!!

I suppose we can close this now?

[2020-08-30 22:49] jpellegrini commented on #107
Yes, it works!

[2020-08-30 22:49] #107 closed

[2020-08-31 10:15] jpellegrini commented on #104
Just one thing: is `/usr/share/stklos/1.50/Demos.d/`necessary in `install-base`?
And what about `/usr/share/stklos/1.50/silex.scm` -- it seems pretty large.

[2020-08-31 16:05] egallesio commented on #102
:rofl: the expander was not hygienic.
This should be OK now.

[2020-08-31 16:22] jpellegrini commented on #102
Yes - bringing hygiene to non-hygienic macros!
I see it works now...

[2020-08-31 16:22] #102 closed

[2020-09-01 07:47] egallesio commented on #104
No you are right

:+1:

Here are the changes of last commit:
- tag the executable with the version to allow intallation of several
  versions of STklos. This point needs some more work to be completely
  clean (include files should be in the shared directory, and scripts
  too, but it works at least for the interactive interpreter)
- don't install the source of SIlex which is not necessary since

[2020-09-01 13:58] jpellegrini commented on #104
Hi @egallesio - i'm away from the computer for a few days. Will check that when i'm back

[2020-09-01 14:37] egallesio commented on #104
Hope that everything is OK for you and that you are just taking some rest. Enjoy it,  you deserve it.

[2020-09-04 00:21] jpellegrini commented on #104
Hi.
I'm back and will be able to work for a few days. Yes, it's much better!

I thought it would be a good idea to srtip the STklos binary, but I see now that calling "strip" in the Makefile seems to not work when cross-compiling (the host "strip" is called, and doesn't recognize the binary format). So I manually strip after installing into a stage dir.

Anyway, the OpenWRT binary package (compres

[2020-09-04 11:05] jpellegrini commented on #104
Also... I believe `scmpkg-support.stk` and `help.ostk` could be removed also (help won't work anyway).

[2020-09-07 14:21] egallesio commented on #104
Glad to see you back and happy that you are healthy.
Here, courses are beginning and I will be a little bit slow for a moment.

[2020-09-07 16:00] egallesio commented on #104
I have added a new target `install-base-no-strip` to avoid stklos stripping.

Is it possible for you to execute the target strip command on the host machine? If so, we can probably do better (a hook seems possible).

[2020-09-07 20:19] jpellegrini commented on #104
Yes, and the way i found to use strip when cross-compiling is in my latest pull requedt. Did you ser that?

PS: will be away for a couple days again

[2020-09-07 21:37] egallesio commented on #104
Just seen the PR. Sorry!!
I will look at it asap.

[2020-09-11 14:48] jpellegrini commented on #55
@egallesio can you confirm this?

`*expander-published*` holds names of syntax exported from modules.

`export-syntax` is undocumented (because it isn't ready?) and:
  calls `%%publish-syntax`
  translates into `compile-%%pubsyntax`
  calls `(expander-published-add! x)`

But the macros are visible anyway (?)

Even if defined with `syntax-rules`.

[code]

Not complaining, just asking. I'm trying to

[2020-09-12 16:28] lassik opened #113 "Debian package"
We started a group to try and package more Scheme implementations for Debian. Would you like to have a Debian package for STklos, and do you consider the latest release 1.50 ready for packaging?

[2020-09-12 17:01] jpellegrini commented on #113
@egallesio can speak ref. stability etc. Anyway, I think it would be great to have a Debain package! It would bring many more users!

[2020-09-12 17:01] jpellegrini commented on #113
@lassik which group is that? (I am a Debian user since... Uh, not sure -- since the dawn of time!)

[2020-09-12 18:05] lassik commented on #113
https://salsa.debian.org/scheme-team
https://lists.debian.org/debian-scheme/

Do you want to join?

[2020-09-12 18:07] jpellegrini commented on #113
Yes - but I'm not a Debian developer (not even maintainer)

[2020-09-12 19:20] lassik commented on #113
Me neither. It's possible for non-DDs to join the above mailing list and GitLab instance as well.

[2020-09-14 06:36] egallesio commented on #113
Wow, it's a **great news**!. Having a Debian package for STklos would be really a good thing for the project.

1.50 should be OK for a package I think.

For next releases, is it easier for the team if the `debian` package is included in the upstream version or, on contrary, easier to maintain if it's kept separately? In any case, tell me what I need to do to ease the work of maintainers.

I have s

[2020-09-14 08:29] egallesio commented on #55
Hi @jpellegrini,

- As you have seen, all the macros are defined at the global level. This is not a good thing, but it was on my TODO list to avoid this since the beginning of STklos (20 years ago!!!) . It is not comfortable but, surprisingly, we can live with that without too much problems, and this probably explains my lazyness.

- I have tried t keep macros names in a different name space than

[2020-09-14 08:29] egallesio commented on #55
Not sure that my explanation is clear. Tell me if it is not the case.

[2020-09-14 08:57] lassik commented on #113
Thanks for giving us the green light :)

Some remarks from @weinholt who is an experienced Scheme and Debian developer (@jpellegrini and I have never packaged anything for Debian so he is mentoring us):

[2020-09-14 08:58] lassik commented on #113
Here's the STklos Debian packaging repo: https://salsa.debian.org/scheme-team/stklos

[2020-09-14 10:01] jpellegrini commented on #55
Thanks @egallesio I understand it now!  Due to personal problems I'll be a bit slow not, but I'll be working on it! FIrst local `define-macro`s then hygienic macros.

Yes, a wrapper over `define-macro` after we get local macros. Not using the MBE code, but something else -- the expansion part would certainly be different, and the pattern matching part could be updated to include SRFI-46.

[2020-09-14 13:27] jpellegrini opened #115 ".so files should not be in /usr/share"
The FHS determines that shared objects should be in `$(prefix)/lib`, and not `$(prefix)/share`; and the Debian packaging system enforces that, so it would be necessary to move `srfi-175-impl.so` to `$(prefix)/lib`. I have tried, but I was once again eluded by autotools! I can't see how it's supposed to be done.

I thought of using something like `$(prefix)/lib/stklos/$(STKLOS_VERSION)`, and config

[2020-09-15 10:49] egallesio commented on #55
Thanks to *you* Geronimo,

I will be slow too since I have a lot of courses in this period. But if your `define-syntax` is a wrapper around the actual `define-macro`, perhaps I can concentrate on a proper implementation of local macros so that  you can continue on the `define-syntax` implementation. Connecting both works should be easy just after (I hope so). What do you think?

[2020-09-15 11:00] egallesio commented on #113
I didn't see a way to pos issues in this repo (I'm not registered yet), to answer some of the questions above and for some comment (for instance stklos-compile and stklos-genlex should not be deleted form the install).
I'll have a look later this week.

[2020-09-15 11:03] jpellegrini commented on #55
That would be greata! I was willing to study the define-macro implementation and work on local macros, but that would be a lot of work. If you can get define-macro to behave lexically scoped, that would be wonderful. The hygiene part with renaming etc I can do easily later.

Meanwhile I can concentrate on Debian packaging! (There are some PRs related to that, by the way)

[2020-09-15 11:04] jpellegrini commented on #113
I think they meant "deleted by `make clean`", no?

[2020-09-15 11:25] jpellegrini commented on #115
This doesn't really fix it, although I managed to `(require "srfi-175")`. It doesn't seem to pass the tests. @egallesio how do we make STklos look for libraries in `$PREFIX/lib/stklos/1.50`?

[2020-09-15 12:23] lassik commented on #113
Registration is needed to comment. But you don't need to be a Debian Developer Debian Maintainer to register - anyone can make an account from the web UI. If you do, please email @weinholt your username; he has admin access to the Scheme Team and can give you the necessary rights.

[2020-09-15 13:50] jpellegrini commented on #55
I suppose it would work like this -
each module (including the standard "stklos" module) has a list of bound names. each name can be aither syntax or variable (it would be possible to split syntax into "macro" (user-defind) and "special form" (embedded in the compiler).
then, symbols are stacked in lexical-scope discipline.
With that and `gensym`, implementing syntax-rules is easy.

It would be co

[2020-09-16 17:48] jpellegrini opened #118 "What is the license of the documentation?"
Hello!
What is the license of STklos' documentation? (the autogenerated docs, the manpages, README, etc)
The Debian packaging team wants to know. :)

[2020-09-16 18:40] jpellegrini opened #119 "Clarify copyright of some files"
Hello @egallesio !

I was checking the licenses in order to put them in debian/copyright, and it isn't clear from some files what their licenses are.

Some of them seem to have an MIT-like license (like `process.c` for example). Is that correct, or should it be GPLv2 as most of STklos?

Anyway, these are the files:

[code]

What about the Makefiles? Can I state they all have the same license as th

[2020-09-16 19:36] jpellegrini opened #122 ".so files do not have prerequisite information"
No big deal... One more thing from Debian lint:

[code]

The warning tag means:

So I did include `-lc` in `lib/Makefile.am`,

[code]

But I'm not sure this is the right way to handle it. Should it somehow be included in `SH_LOAD_FLAGS`?
Or is hardcoding `-lc` there is OK? (If it is, I can make a PR)

[2020-09-17 10:20] egallesio commented on #97
Hi @lassik,

It is implemented now in STklos. As requested, `command-line` is a parameter.

[2020-09-17 11:18] jpellegrini opened #123 "examples of scripts (hello.stk and threads.stk) do not execute"
Hi,
The files
[code]
begin with a `#!`, so I suppose they are examples of files that can either be called  from the command line directly or compiled into `.ostk`.
However, it is not possible to execute  them because

1. they do not have the executable bit set
2. even if the `x` bit is set, those won't work as scripts, because they use `#! /usr/bin/env stklos -f`, and `env` will not split the stri

[2020-09-17 11:19] egallesio commented on #118
Hi!

That is an excellent question. For the parts I wrote I don't really care (GFGL?) but large parts of it come from R5RS or R7RS, where the copyright is not really clear....

[2020-09-17 11:23] jpellegrini commented on #118
Hi @egallesio -- did you mean GFDL? Would that be 1.3 "or later"?
I'll check the RnRS license status. I am sure this have been sorted out before, because other Schemes have been packaged for Debian, and I think lots of them do include parts of RnRS.

[2020-09-17 11:26] jpellegrini commented on #97
Hi,

The spec says `command-name` should return a friendly version of `(car (command-line))`, and

But the STklos implementation doesn't do that:
[code]

[2020-09-17 11:28] egallesio commented on #118
Yep GFDL (or any other license).
If GFDL,  don't know the diffrence between versions.

[2020-09-17 11:29] lassik commented on #118
From [the R5RS PDF](https://www.schemers.org/Documents/Standards/R5RS/r5rs.pdf):

[2020-09-17 11:30] lassik commented on #118
Not sure if there is a more formal license somewhere. The TeX files are collected here: https://github.com/schemedoc/rnrs-metadata There may be other files in the original tar archives that contain those TeX files that are not included in that repo.

[2020-09-17 11:37] jpellegrini commented on #118
Hi @lassik . Do you think the statement (we grant permission to copy it in whole or in part without fee) is clear enough? Can it be relicensed under a different license? And if, for example, the STklos manual mixes R5RS with @egallesio 's own text, is it necessary to identify which part is taken from R5RS?

(The same applies to R7RS -- which has the same statement)

[2020-09-17 11:46] jpellegrini commented on #123
I know this is not a big issue. I am only reporting it because Debian's lintian complains about these:

[code]

[2020-09-17 18:45] lassik commented on #118
We'd best ask @weinholt about that. I'm not well versed in the details of copyright law or Debian policy.

[2020-09-17 20:42] weinholt commented on #118
Whenever this comes up on a Scheme list the answer is something to the effect that you just need to read the paragraph, it says everything you need to know:

Read it as many times as you have to, in particular the part where it says "as a starting point for manuals and other documentation, modifying it as necessary". :) The sticking points of licenses are usually: Can we copy it? (Yes). Can we mod

[2020-09-18 09:50] egallesio commented on #123
Hi,

Didn't know the `-S` option of `env`. That's interesting.
Anyway, I prefer to use  a starting line `#!/usr/bin/env stklos-script` since it gives lmore latitude for adaptation if needed.

As you said, Making the script executable permits to show how to make a runnable script without compiling it. This could be interesting for the example directory.

I modify the files.

[2020-09-19 06:51] lassik commented on #118
I think the confusion is because that paragraph doesn't have a formal name like "GPL" or "BSD". It doesn't have a SPDX-License-Identifier (though perhaps it could?)

[2020-09-19 16:25] egallesio commented on #123
Yes we can  :smile:
I have change things a little bit: only `hello.stk` is executable now and the README explains the first line of a script and how to compile it.

I close this issue.

[2020-09-19 16:26] #123 closed

[2020-09-19 16:45] egallesio commented on #97
Of course, you are right. I have inverted things.
This is corrected now.

[2020-09-19 17:00] egallesio commented on #119
Hi,
For most of the files I'm the only author, so it is simple (files with MIT licences are files that comes from STk, since it was the licence it used). For some file it will be a little bit more difficult, but all the files used in STklos have a license which is compatible with GPL2 (as far as I understand licences terms subtleties).

I clarify things in the files themselves before answering mor

[2020-09-21 10:13] egallesio commented on #119
Hi I have pushed some commits to clarify the copyrights.
What we have:
Deleted files

 - etc/stk-dynload.c: UNKNOWN ==> deleted. This file was useless.
 - lib/srfi-45.stk: UNKNOWN ==> the file has been deleted and this SRFI is now embedded.

The following files are now GPL2 (I'm the author of this files)

- src
    - src/base64.c: UNKNOWN   ==> GPL2 (I'm the author)
    - src/process.c: UNKNOWN  =

[2020-09-21 10:14] egallesio commented on #97
May I close this issue?

[2020-09-21 10:21] jpellegrini commented on #119
I think that in this case lintian got it wrong. Thanks for clarifying the copyright of the other files!

[2020-09-21 12:56] egallesio commented on #115
Your PR #117 effectively corrects this point.
Since it has been merge, I close this issue.
Thanks.

[2020-09-21 12:56] #115 closed

[2020-09-21 13:00] egallesio commented on #119
The only file with no copyright at all is `ib/expand.pp`, but is is a kind of minified version of `expand.ss` . I'll add a one line pointer in it. Anyway, we will not need it anymore when we'll have new macros :smile:

[2020-09-21 13:21] lassik opened #126 "Automake style warnings"
Automake 1.16 says:

[code]

Should we do something about these?

[2020-09-21 13:27] egallesio commented on #104
I have just changed the initialization of STRIP to
[code]
despite your comment on an empty STRIP because `automake` complains and says that the used form is not portable. Is it OK for you?

[2020-09-21 13:33] egallesio commented on #126
I was just at the minute telling @jpellegrini that I have changed its correction in src/Makefile.am to delete  the warnings about line 33.
Deleting the other warnings shoud be done too.

[2020-09-21 15:32] lassik commented on #97
Thanks a lot for implementing this SRFI, and sorry about the delay!

The current implementation is good enough to release.

`command-name` could perhaps check whether `file-suffix` is `".scm"` or `".stk"` and, if so, return the name without that suffix.

`load` from the REPL, or from the `-l` flag, should probably fill the filename in `script-file`.

[2020-09-21 15:36] lassik opened #127 "file-suffix when filename ends with a dot"
Currently `file-suffix` returns the same value for no extension, and a zero-length extension:

* `(file-suffix "foo") => ""`
* `(file-suffix "foo.") => ""`
* `(file-suffix "foo.ext") => "ext"`

Would it make sense to differentiate them:

* `(file-suffix "foo") => #f`
* `(file-suffix "foo.") => ""`
* `(file-suffix "foo.ext") => "ext"`

Or another way to do it (but this would change the return value

[2020-09-21 15:38] lassik commented on #127
We're planning to write a pathname SRFI at some point, but work hasn't started yet. John Cowan has an early draft.

[2020-09-21 18:39] jpellegrini commented on #104
It seems to work! :)

[2020-09-21 18:52] jpellegrini commented on #126
One thing that lintian complains about is the version of libtool:

[code]

I'm not sure, however, wether upgrading it would fix warnings or get things even worse. I vaguely  remember that autotools used to break compatibility backards quite often.

[2020-09-21 19:09] lassik commented on #126
Yes - autotools is a compatibility toolkit that isn't compatible with other versions of itself.

The latest stable version of libtool is 2.4.6. Maybe it's complaining that libtool 1 is too old since libtool 2 is the stable series.

[2020-09-21 19:25] jpellegrini commented on #126
That said, it's just a warning. Debian packages don't need to have have that fixed in order to be in the archive...

[2020-09-22 09:27] jpellegrini commented on #122
PR #125 would include this.

[2020-09-22 10:28] egallesio commented on #127
You are right. Didn't notice the problem.
I think I prefer that `(file-suffix "foo")` returns `#f``. It is more coherent with functions such as `member` or `assoc`. You can test `(if (file-suffix path)  ... ... ))`.
I'll modify the implementation of STklos. It should not break existing code since having a  final dot should be rare.

A problem still exists with dot files. What should be returned fo

[2020-09-22 12:27] lassik commented on #127
Great! Sounds good.

IMHO `.profile` should return `#f` and `.profile.sh` should return `".sh"` The algorithm would be:

* Find the last dot in the string; if none, return `#f`
* If the last dot was found at index 0, or right after a directory separator, also return `#f`.
* Otherwise return the substring after the dot.

[2020-09-22 12:57] lassik commented on #127
Here is John's latest proposal, which is based on the Python standard library: https://github.com/johnwcowan/r7rs-work/blob/master/PathnamesPython.md

[2020-09-24 08:40] egallesio commented on #126
All the warnings are gone. and `lt-main.sh` is updated
This was a (really too) long fight with automake tools.

@jpellegrini: I had to change the strip stuff to remove the warning introduced by a previous PR. I'm not sure this is completely equivalent: The  value of the STRIP variable is  the one used at configuration time and not at install time. You can change it at install time with `make insta

[2020-09-24 09:05] egallesio commented on #97
Hi @lassik,

No problem with the delay, I'm generally too slow  myself to blame someone for that :smiley:

OK for suppressing the suffix.

I asked myseff this question, but I don't think so: files loaded with `-l` are generally not scripts but rather definition files. When you do
[code]
You are in the REPL and not really in a script. Furthermore, you can both use a `-l` and a `-f` to add some defi

[2020-09-24 09:33] lassik commented on #97
I agree. However, if you write a script with `#! /usr/bin/env stklos` and a `main`, it's still useful to be able to `(load "...")` that script into a REPL for debugging.

It's no wonder that we are having these discussions. This was extremely hard to specify in the SRFI in such a way that every case works without surprises. I'm still not entirely happy with the result.

That's right. IMHO `command

[2020-09-24 09:40] egallesio commented on #97
I have pushed a version which suppress the  suffix if its is a member of the list of suffixes which are implicitly added when loading a file (namely `("so" "ostk" "spi" "stk" "scm")`); otherwise the suffix is kept.
This way `command-name` returns the prettier name which can be used for running the script.

[2020-09-24 09:52] egallesio commented on #127
In John proposal, the `path-suffix` is defined as

As a result, the Windows remark makes me doubtful about the interest of changing things :confused:

[2020-09-24 10:13] lassik commented on #97
Sounds excellent! Thank you for doing this.

Is `so` just the normal Unix shared object extension (i.e. for loading FFI modules)?

What is the difference between the different extensions `scm`, `stk`, `ostk`, and `spi`?

[2020-09-24 10:21] jpellegrini commented on #126
Not at all @egallesio ! It's great that you won the battle against autotools! :)

[2020-09-24 11:24] lassik commented on #127
Good point! I think the FAT file system stored filenames on disk as `NNNNNNNNEEE` (i.e. 8 bytes for name, 3 bytes for extension). So the dot is omitted to save space, which was important in DOS times. And when writing the directory entry, the dot is removed from the filename.

However, on Unix, `foo.` and `foo` are not considered the same filename. And there are also other pathnames translations t

[2020-09-24 11:26] lassik commented on #127
@johnwcowan: This thread may interest you since you're preparing the pathname SRFI.

[2020-09-24 12:24] egallesio commented on #126
Since, you both reacted favorably, I close this issue to clean the Issue list.

[2020-09-24 12:24] #126 closed

[2020-09-24 13:09] egallesio commented on #127
What John says is that on Windows (even Win10).  "foo" and "foo." denote the same file.
So,on this OS,  `(path-suffix "foo.")` and `(path-suffix "foo")` will return a different value whereas they refer the same file.

[2020-09-24 14:10] lassik commented on #127
Yes, but `(path-suffix "foo.bar")` and `(path-suffix "foo.BAR")` will also return a different value even though they refer to the same file. There's no way we can cover all of the pathname normalization rules used by the dozens of different file systems out there.

[2020-09-24 17:38] egallesio commented on #127
So you think that John will change the specification of `path-suffix` to add the dot in the suffix if present?

[2020-09-24 22:52] johnwcowan commented on #127
I have changed `path-suffix` and its relatives so that ".foobar" and "foobar" do not have a suffix and so `#f` is returned.   Consequently, the remark about Windows is gone.

[2020-10-20 10:40] jpellegrini commented on #119
Hello!
Sorry, I am having some problems that do not leave me much time to work on this, but I'm not dead! :)

@egallesio : yes, it does! But I think that for the Debain packaging it would also suffice to compile all the licensing information in a file. @lassik is that correct?

I have checked those licenses, and will document here what I have found. The (c) lines list the authors of the original i

[2020-10-22 12:50] egallesio commented on #127
Hi @lassik,
Finally pushed a commit for this issue.

[2020-10-22 13:08] egallesio commented on #97
Sorry for the delay to answer you.

Yes it is, but this is just a suffix which is tried when loading a file as the other one. It is normally used for C compiled code, but nothing prevents you to use it with Scheme code.

What is the difference between the different extensions scm, stk, ostk, and spi? Nothing normally

- scm is for compatibility with other systems
- stk is for STklos source files
-

[2020-10-22 13:10] egallesio commented on #104
Hi @jpellegrini,  I close this one to have a better vision of what issues needs some work.
Hope it is OK for you.

[2020-10-22 13:10] #104 closed

[2020-10-22 13:26] egallesio commented on #119
Hi @jpellegrini ,

I hope that all these problems will be gone  soon, and for myself, I'm still alive too :wink:

Concerning this issue, you really did  is really a great (ingrate) job!  Thanks a lot for it.

The only "problematic" source could be SRFI-2.So,  I have pushed the tests on SRFI-2 and I can eventually recode it with the new syntax-case SRFI implementation. If the tests pass, we can swi

[2020-10-22 14:18] jpellegrini commented on #119
I believe SRFI-2 is OK actually... The license was changed from the old SRF license to the new one. It just happened that the implementation was updated too, and the old one was lost. But those links show that at least one in time there was a page with the new SRFI license pointing to the old (define-macro) implementation.
But I'll ask on the SRFI-2 list anyway.

[2020-10-22 17:17] lassik commented on #127
Great! Thanks for attending to this!

[2020-10-22 17:19] lassik commented on #127
Looks good to me, so closing the issue.

[2020-10-22 17:19] #127 closed

[2020-10-22 17:25] lassik commented on #97
No problem - we are all volunteers.

Thanks for the explanation. It makes sense. Removing any extension in `*load-suffixes*` is a good idea for cleaning up the command name.

The SRFI implementation seems complete so I'll close this issue.

[2020-10-22 17:25] #97 closed

[2020-10-23 10:34] jpellegrini commented on #119
There is one thing that may be problematic for Debian packaging.
The files in ` lib/Match.d/*.scm` have this license:

[code]

The restriction to non-commercial use qualifies it as non-free in Debian. I believe it still can be packaged, but would go into the "non-free" section.
Is it possible to talk to the author and ask wether he still wants to keep the same license?
Also, how much of STklos dep

[2020-10-23 10:41] jpellegrini commented on #119
Also, `lib/Lalr.d` mentions the author (Dominique Boucher) but no license...

[2020-10-23 19:37] egallesio commented on #119
STklos does not depend a lot of the Match library. It could be easily dropped  if needed. As it seems that there is interest in a pattern matching definition in the last SRFIs, it could probably be replaced by a pattern matcher object of a final SRFI.
The only (minor) problem is that the current implementation is documented as part of STklos.

A more recent version of Lalr is available at https://

[2020-10-24 10:18] jpellegrini commented on #119
SRFI 200 and SRFI 204, I see. It would be nice, indeed.

That sounds interesting!

Looks like this is a plan...

[2020-10-30 10:29] jpellegrini commented on #119
Hi @egallesio ! I see you have already updated Lalr! I have asked about the copyright situation on the SRFI-2 mailing list, but got no answer. But it's such a simple SRFI, and a recent implementation is available and in the public domain, so maybe using it would be a good idea? (See PR #131 )

[2020-11-08 11:44] jpellegrini opened #136 "There are no tests for SRFI-1"
The SRFI repository has no tests, but it should be easy, although boring, to port tests from some other Scheme implementation.

[2020-11-08 11:51] jpellegrini opened #137 ""every" from bonus.stk is not fully compatible with SRFI-1"
Hello @egallesio !

`every` from `bonus.stk` does not return the last PRED value, as the SRFI requires:

This makes the reference tests for SRFI-134 fail.

Since this is not in `srfi-1.stk`, but in `bonus.stk`, I am not sure which you'd prefer:

* keep the version of `every` in `bonus.stk` as is, and makea new one in `srfi-1.stk` (then requiring srfi-1 would override the embedded version of `every

[2020-11-09 09:11] ghost opened #138 "Trying to install stklos-gtk-canvas-1.0.0"
I'm using Debian Linux. I have been trying to install the above-mentioned package. I'm getting the following error message:

**** Error while executing file "/usr/local/bin/stklos-compile"
	 Where: in error
	Reason: Cannot find GTK+ library file "libgobject-2.0"

I checked, and I already have the most recent version of libglib2.0-dev installed, which I think contains the "libgobject-2.0" (at least

[2020-11-09 09:52] jpellegrini commented on #138
Hello @TuLithu !

I believe I have reported this before -- see #57 . It seems to be a small problem in the description of the `stklos-gtk-canvas` package in the repository.
Have you tried installing it in any other distribution or just Debian?

[2020-11-09 10:16] TuLithu commented on #138
Hello @jpellegrini ,

No, I have only tried on Debian. I only own one computer at this time.

[2020-11-09 10:28] jpellegrini commented on #138
Ok -- I'll try to install on some different distributions on VMs in the next days and see if this is Debian-specific or not.

[2020-11-09 12:44] TuLithu commented on #138
Great. Thanks so much!

[2020-11-09 20:46] jpellegrini opened #139 "Errors in tests (threads)"
@egallesio --

On a newly installed Suse vm at Linode, I ran make and make test:

[code]

I suppose this has to do with the compiler rewrite, as you mentioned in #56 ?

[2020-11-09 20:48] egallesio commented on #138
I'm sorry, but I will not ne able to have a look at this point until next week :disappointed:

[2020-11-09 20:53] egallesio commented on #139
Not sure this is related to #56. I have already seen it a long tile ago (when porting on Android), but it was hard to reproduce (and hence hard to track). Do you have it every time?

[2020-11-09 22:03] jpellegrini commented on #139
Ouch! I removed that Suse installation and put Gentoo in its place (I'm trying several distros to see in which ones #138 is reproducible)

But I remember seeing that error before on my Debian system also.

[2020-11-10 11:05] jpellegrini commented on #139
On Suse, yes! (I reinstalled Suse on my test Linode -- its OpenSUSE Leap 15.2)

(I'm not a Suse user, I installed it just so I could check that my [PR](https://github.com/egallesio/stklos-gtk-canvas/pull/1) for the `stklos-gtk-canvas` installation wasn't specific to one distribution.)

[2020-11-11 18:16] jpellegrini commented on #138
See [PR 1 in the stklos-gtk-canvas repository](https://github.com/egallesio/stklos-gtk-canvas/pull/1). But I think it's not the only thing to fix.

[2020-11-12 18:18] jpellegrini opened #141 "SRFI-4: s64 vectors refuse to hold negative values"
[code]

[code]

I'll look into this.

[2020-11-12 18:19] jpellegrini commented on #141
Also, f32 does not accept exact numbers:

[code]

[2020-11-12 18:56] jpellegrini commented on #141
Ok, found it!
`u64` and `s64` are swapped in `uvector.c`.
`u64vector`s accept negatives, and `s64vector`s don't -- it should be the other way around.

[2020-11-13 13:23] TuLithu commented on #138
@jpellegrini I'm sorry, I don't understand how to apply the information in your last post to my specific problem.

[2020-11-13 13:32] jpellegrini commented on #138
Hello @TuLithu -- I am afraid this is something you cannot fix yourself; the package that is downloaded by `stklos-pkg` needs to be changed. It would be necessary to wait for @egallesio to take a look.

[2020-11-13 16:12] #136 closed

[2020-11-13 16:22] #141 closed

[2020-11-13 18:55] jpellegrini opened #146 "SRFI-48 tests fail"
The recently added tests for SRFI-48 seem to be failing:

[code]

[2020-11-13 19:21] jpellegrini commented on #146
and @egallesio just fixed it with 5c5695da095c477170da2239e2db7e4ba1a1face !

[2020-11-13 19:21] #146 closed

[2020-11-20 23:47] jpellegrini opened #152 "STklos reader gets confused with illegal escape sequences in strings"
If I try to enter the string `"\x9 +"` STklos correctly sigals an error, but interprets the rest of the string as if it were input to be read and evaluated:

[code]

The same for `" \xo "`...

Found it while porting SRFI-207.

[2020-11-20 23:56] jpellegrini commented on #152
I found it.
When the error is signalled, the reader gets out without finishing reading until the closing `"` or `EOF`.
I can send a PR whcih fixes this along with SRFI-207.

[2020-11-22 04:51] jpellegrini commented on #152
I actually sent the PR for this issue only, without SRFI-207, because there is a small issue with that SRFI that I still have to fix (it is related to error signalling and `%claim-error` -- I'm working on it.

[2020-11-24 17:47] jpellegrini opened #155 "`make clean` only removes SUPPORTED-SRFIS.tmp"
Hi @egallesio !

The clean target does not clean the temporary files from compilation anymore (?)

[code]

[2020-11-25 10:13] egallesio commented on #155
Thanks for signaling it.
Fixed

[2020-11-25 10:13] #155 closed

[2020-11-26 06:33] TuLithu commented on #138
Tried to download the package again today, and am still getting the same message.

[2020-11-27 17:28] egallesio commented on #137
Hi @jpellegrini,

This is a bug in fact. The implementation should be compatible in `bonus.stk` with SRFI-1 (I suppose that `any` implementation  is incorrect too). If you have a PR ready, I'll be happy to apply it. Otherwise, I can do it too.
Thanks for signaling it (and preparing SRFI-134, visibly :wink: )

[2020-11-27 17:49] jpellegrini commented on #137
Hi @egallesio !
Yes, I'll send a PR if you can wait a little (maybe tomorrow morning)

[2020-11-27 19:43] jpellegrini commented on #137
I managed to do it. Submitted!

[2020-12-04 15:57] egallesio commented on #138
Sorry for the looooong  it took me to respond.

Distributing package though ScmPckg is not convenient anymore (it implies that I must be able to build new versions and place them on the stklos.net server, which I cannot always do as quickly as I want). Consequently, I have started to make a new package of GUI extensions which could be distributed in source form and compiled with a classical `confi

[2020-12-09 02:38] TuLithu commented on #138
That is too bad, because the canvas was central to what I was trying to do with STklos. I will have to find another solution. But I understand that this is outside of your ability to control. Good luck in the future.

[2020-12-10 15:55] egallesio commented on #152
Hi @jpellegrini

I think that I have corrected this issue. However, I have not used the code of PR #153 because it didn't worked when the string also contained a quote after the error (something like `" an error  \x12    and now a quote \" and the end"`? Furthermore, the code entered  in a loop when the hexa sequence was used in a symbol (this is the same function that was used for parsing  hexa s

[2020-12-10 16:17] jpellegrini commented on #152
That's great! I'll see if all goes well later when I get back to porting SRFI-207.

[2020-12-12 11:04] jpellegrini commented on #152
@egallesio  see this:

[code]

[2020-12-12 14:33] jpellegrini opened #159 "STklos crashes when trying to output characters into bytevector port with write"
Hello @egallesio -- still while trying to port SRFI-207, I found another problem. So, R7RS says bytevector ports should work with `write-u8` and `read-u8`, and that works fine in STklos; but when `write` is used STklos crashes:

[code]

When `display` is used, then STklos raises the error and doesn't crash:

[code]

One interesting thing: both Chibi and Gauche do accept `write` on bytevector ports

[2020-12-12 14:39] lassik commented on #159
`write` and `display` write a string; it's probably a good thing that they raise an error when trying to write to a binary port. Text and binary ports should be kept logically separate in most Scheme code. In this particular case, `open-output-string` would be the right thing to use instead of `open-output-bytevector`.

[2020-12-12 14:41] lassik commented on #159
Strings have been a bit problematic in all languages since Unicode and other multibyte character encodings came along. Go strings are fundamentally bytevectors, and many standard library routines work on them assuming the bytes represent UTF-8. Scheme strings are fundamentally sequences of char objects; one char object is one codepoint. Some Schemes encode strings internally as UTF-16 (Kawa and Ir

[2020-12-12 15:12] jpellegrini commented on #159
Ok good point. That's what I get for writing before having coffee. :)

Anyway, `write` crashes in STklos instead of raising an error -- PR #160 would fix this (STklos will then not crash, and raise an error when `write`ing to a binary port)

[2020-12-12 15:16] lassik commented on #159
I agree that it shouldn't crash, and that raising an error is the right thing. Your patch looks like it solves the problem!

[2020-12-12 15:19] lassik commented on #159
P.S. I don't think R7RS forbids `write` from working on binary ports. In general, the standard doesn't forbid things - it just stays silent and does not say anything about behavior that is non-standard. However, having non-standard behavior may cause surprises to people writing portable code, since the behavior won't work in other Scheme implementations, so it's good to err on the side of strictne

[2020-12-12 15:19] jpellegrini commented on #159
Right. Kawa and Gambit do also accept `write` on binary ports, and the result is different only for Kawa:

[code]

This gives `#u8(35 92 97 32 35 92 98)` in Kawa, and `#u8(35 92 97 35 92 98)` in Gauche, Chibi *and Gambit*!
I suppose that even representing strings as UTF-32, Gambit uses `string->utf8` or something similar to build the bytevector, and Kawa doesn't...

[2020-12-12 15:22] lassik commented on #159
Wow, I had no idea it's so common to allow that. Thanks for investigating!

It does indeed look like Gambit is internally writing to a string and then using `string->utf8`.

[2020-12-12 15:22] jpellegrini commented on #159
R7RS says that "_whether the textual and binary port types are disjoint is implementation-dependent_" (4th paragraph of 6.13.1), and I suppose this implies that textual procedures could work on binary ports (since a binary port could be textual anyway).

[2020-12-12 15:23] lassik commented on #159
Good catch!

[2020-12-12 15:31] jpellegrini commented on #159
Which does not mean it's good to have the two kinds of port as the same. The PR I made actually works in the opposite direction (don't mix them!)

[2020-12-15 17:25] egallesio commented on #159
Interesting discussion.

For me `write` is a function which permits to write a value that can be read back with the `read`.  The problem he e is that when you write in a bytevector, you don't have an easy way to get back the value (if  `write` has made such a conversion as the ones you showed above) . If  `(write #\a)`  produces `#u8(35 92 97)` there is no easy way to get back the `#\a` character

[2020-12-15 17:27] egallesio commented on #152
This should be fixed this time  (hope so ...)

[2020-12-15 17:29] #159 closed

[2020-12-15 17:33] egallesio commented on #137
Hello @jpellegrini , can we close the Issue now?

[2020-12-15 19:36] jpellegrini opened #162 "make clean does not delete srfis-data.scm"
I ran the tests for SRFI-207 and they kept failing because feature "srfi-207" was missing... Took me a while to actually understand what was going on: since `srfis-data.scm` wasn't deleted, it was not being generated when I ran make.
Since it's an auto-generated file, shouldn't it be removed by `make clean`?

[2020-12-15 19:40] jpellegrini commented on #137
Hi @egallesio !
Yes, all tests pass and everything seems to be fixed. :)

[2020-12-15 19:40] #137 closed

[2020-12-15 19:46] jpellegrini commented on #152
Indeed, it's fixed! :)

[2020-12-15 19:46] #152 closed

[2020-12-16 11:24] egallesio commented on #138
I'm sorry about that. BTW, I have just seen that goocanvas1 (the one for GTK2) is still available in AUR for ArchLinux (but no more maintained since 2018). Perhaps, it is also available for your distribution.
Anyway, I suppose that it is not a good idea to rely on such a package and understand that you have to find another solution.

[2021-01-08 11:24] egallesio commented on #162
You are correct. I thought it was not possible to delete it since it is includes in the boot image. However, if the list changes, the file is rebuilt before the image reconstruction. It was necessary for the first bootstrap, but no more now.

Thanks for signaling this issue.

[2021-01-08 11:24] #162 closed

[2021-01-09 13:15] jpellegrini commented on #96
Tklos doesn't seem to crash on the file I uploaded in the previous message.

But with this one it does:

[alexpander-experiment.scm](https://gist.github.com/jpellegrini/4a2370ef29bb704a141712151497ca39)

[code]

Note: Alexpander is fine as an implementation of syntax-rules, but there are more modern options. But since this is a segfault, I thought it would be better to keep the bug open.

[2021-01-11 16:15] jpellegrini opened #164 "srfi-41.stk not being compiled and installed..."
I'm not sure why, but STklos does not intall it:

[code]

[code]

[code]

This was after a `make distclean && ./configure && make`.

Both `lib/srfis.stk` and `lib/srfis-data.scm` have `srfi-41` listed...

But the files are not compiled or installed:

[code]

And the strange thing is that it I call `stklos -V` after installing it, it *does* list SRFI-41!

What have I missed when I made the PR?

[2021-01-29 17:32] egallesio commented on #164
Hi @jpellegrini
I hope you are well.
I had still problems with SRFI-41, when building with `-j` option. It  was the same problem you have resolved (that was great)  with files which are compiled or not. I have fully expressed the dependencies for building `srfi-41.ostk` and ensure a correct order of compilation. It seems to be correct now, and I was not able to break it now :crossed_fingers:
Take

[2021-02-01 22:56] jpellegrini commented on #164
Hello @egallesio !
I'm slowly recovering. Will get back to normal activity gradually.

I think this issue is fixed, it seems! :)

[2021-02-03 02:34] jpellegrini opened #166 "The `gc` and `address-of` procedures are listed in the manual as R5RS procedures, but they're not..."
Hello!
https://stklos.net/Doc/html/stklos-ref-4.html#Standard-Procedures
I'd make a PR if I knew where to change that information.

[2021-02-04 10:39] egallesio commented on #166
Hi @jpellegrini
Thanks for signaling it.
The correction is simple: In the comment containing the documentation you can put a tag which indicates the category of the thing described (if no tag is present, it is assumed to be a R5RS procedure).
So the correction for `gc` consists only to replace
[code]
by
[code]
(`EXT `stands for extended STklos procedure)

[2021-02-07 19:17] jpellegrini commented on #166
Hi @egallesio !
I see those are fixed in git, but the documentation on the website still has the previous version...

[2021-02-09 13:53] #164 closed

[2021-02-09 13:57] egallesio commented on #164
Great to see that you are recovering. Take care.
I have closed this issue

[2021-02-09 13:59] egallesio commented on #166
You are right. But the site documentation correspond to the one of the release.
BTW, it is probably time to have a new version.

[2021-02-09 14:56] jpellegrini commented on #166
That's great! :)   I know it's a small thing, but don't forget to take a look into #165 (documentation of (gc) for the new version (that is, if the PR is OK for you)

[2021-02-11 15:38] egallesio commented on #166
Done!
Thanks for the documentation fix.

[2021-02-11 15:38] #166 closed

[2021-03-04 13:57] jpellegrini opened #168 "STklos does not compile when there is a stklosrc file"
I created a `stklosrc` file in `~/.stklos/stklosrc` with the following content:

[code]

When I start STklos, it will (as expected) source the file:

[code]

But strangely, the file interferes with copilation:

[code]

Why is it interpreting the string inside the `display` as a list of variables?

[2021-03-04 15:18] lassik commented on #168
Should STklos self-compilation use `stklos --no-init-file` in any case?

[2021-03-04 16:59] jpellegrini commented on #168
It sounds to me like the correct thing to do, yes!

[2021-03-04 17:15] jpellegrini commented on #168
@egallesio what do you think? Myabe we could create a variable `$STKLOS_OPTIONS` and use it in all Makefiles?
Maybe it could be `-q -c --no-init-file` ?
There is only one point in which those (`-q -c`) are not used

[2021-03-04 17:19] lassik commented on #168
It looks like `-q` and `--no-init-file` are the same flag.

[2021-03-04 17:22] jpellegrini commented on #168
Uh, wait... It's missing somewhere then!

[2021-03-04 17:30] jpellegrini commented on #168
I think I found it... :) There was one Makefile which did not use `-q`.
But maybe there should indeed have a `STKLOS_OPTIONS` variable, to avoid this kind of problem?

[2021-03-08 16:40] jpellegrini opened #170 "log does not accept a second argument"
According to R7RS, it should accept an optional base as 2nd argument (the "z2" argument, on page 38).

[2021-03-08 16:43] jpellegrini commented on #170
By the way, the C "`log`" function that is passed to `DEFINE_PRIMITIVE` is the native `log` from the C math library? I couldn't find it in the STklos sources.

[2021-03-08 18:12] egallesio commented on #170
Oops didn't see this addition to R5RS (I think).
Yes i use the Clib log functionn, but I use the C preprocessor transcendental to build the primitive (not really useful her since, the macro is nearly the DEFINE_PRIMITIVE itself.

[2021-03-10 17:42] jpellegrini opened #172 "Intention: SRFI-170"
Hello @egallesio !
Just wanted to let you know I'm slowly working on SRFI-170 (Posix API). It'll take a while because it's large and must be written in C, but doable. :)

I have already implemented sections 3.5, "Process state" and 3.11, "Environment variables".

[2021-03-10 21:26] jpellegrini commented on #172
And part of 3.6, "User and group database access"!
Learning a bit more about STklos...

[2021-03-11 17:42] jpellegrini commented on #172
I just realized that SRFI 170 requires SRFI 19. Actually, SRFI-120 also requires 19, so it makes more sense to do 19 first.
But I remember I've tried that one first and had problems. I'll check again.

Meanwhile, I'll try to keep 170 mostly ready (will represent "time objects" in an ad-hoc way, and get everything together when SRFI-19 is ready.

@egallesio -- you wouldn't be working on SRFI-19, by

[2021-03-12 11:27] egallesio commented on #172
You have a lot of courage! It is a long SRFI to implement. Thanks a lot for volunteering to do it.

Perhaps you can find some useful code in https://github.com/egallesio/stklos-posix
(not sure).

In fact, I have a long-standing version of SRFI-19 under the hood!

However, the SRFI sample implementation have been modified several times since its first publication and some fixes have even been publi

[2021-03-12 13:52] jpellegrini commented on #172
No problem!
In fact, I think I have not more than 2/3 of it ready.

It does help!
But SRFI-170 requires us to raise some specific new condition containing errno. I've been doing that in my implementation.

Thank you!
I'll take a look later.
Meanwhile, I'll test SRFI-170 with an ad-hoc time struct.

[2021-03-12 16:43] egallesio commented on #172
Perhaps it is a good idea to keep  temporary struct because SRFI-19 is quite large and using it for POSIX is perhaps a  bit overkill. No?

[2021-03-12 17:04] jpellegrini commented on #172
Yes -- thank you for suggesting that!

Prehaps keep it the time structure in STklos core, since it may also be used by other SRFIs that do not depend on each other (19, 120)?

[2021-03-12 18:58] jpellegrini commented on #172
It's already there!   Structure `%time`.

I've finished most of this one, but there are some hard parts yet to go.
But I believe STklos 1.70 will have SRFI-170.  :)

[2021-03-13 18:59] egallesio commented on #172
:smiley:

[2021-03-15 13:16] #168 closed

[2021-03-16 15:46] #170 closed

[2021-03-17 11:32] jpellegrini opened #177 "Should arrays be a native type or should they be a struct? (SRFI-25)"
@egallesio --

I am working on SRFI-25. It seems that SRFI-164 adds to SRFI-25 (and does not supersede it); and the newer array/interval SRFIs (122, 179) are very different (and large), so it seems  to be worth working on 25 (please correct me if I'm wrong).

I wonder if arrays should be a `struct` or a new boxed type defined in `stklos.h`.

This is how I thought they could be implemented:

A SRFI

[2021-03-17 18:52] jpellegrini commented on #177
I forgot to ask: were you already working on SRFI-25? If not, I think I can get it ready quickly -- in either of the three ways proposed in my previous message.

[2021-03-18 16:43] egallesio commented on #177
Hi @jpellegrini,

I didn't found time to look in detail at your questions. I will have a look asap.

However, we **already** have a SRFI-25 implementation for STklos. The implementation was done by Heinrich Wolf. It is available by as a ScmPkg. It would be cool to have it native (rather than as a ScmPkg, since it is more or less  the last interesting package available from `scmpkg`) . The architec

[2021-03-29 20:25] jpellegrini commented on #177
OK - I have seen the implementation by Heinrich. I think it is worth having arrays as a loadable SRFI, or maybe into the core, though.

Both approaches are simple, but

1. If we have it as a structure (hence loadable as `.ostk` + `.so`, then all array data must be encoded as Scheme objects inside a struct. Then, the data used to calculate indices would need to be restored from Scheme vectors each

[2021-03-30 09:14] egallesio commented on #177
I think that the second approach is better. We can just have the minimal support in the base, and everything else in the SRFI implementation.  This will not overload too much the base, and will permit a better/faster implementation of arrays.
If you have enough courage to implement this, it would be really really great.

[2021-03-30 14:27] jpellegrini commented on #177
Ok... I have most of it done. Will probably finish by the end of the week. :)

[2021-04-02 19:09] jpellegrini commented on #177
Hm, maybe a bit longer than that.
I have written it in C, and it mostly works, but there are a few bugs I need to fix.

[2021-04-04 23:16] jpellegrini commented on #177
@egallesio  we could keep discussing in the PR thread, and close this. Do you agree?

[2021-04-08 01:41] jpellegrini opened #183 "Question about SRFI-29"
I have SRFI-29 implemented, except for one tiny bit: it requires a change to `format`.

What the SRFI wants is this: the code `~N@*` refers to the `N`-th argument after the format string. This is so messages in different languages can be formatted according to different orderings:
[code]
I see two ways of doing this:
* Changing the `internal_format` function in STklos
* Doing this in the SRFI:

[c

[2021-04-08 01:49] jpellegrini commented on #183
* I have moved this to a "discussion" (instead of an issue), so closing.

[2021-04-08 01:49] #183 closed

[2021-04-10 04:25] lassik opened #190 "configure warnings on MacOS"
I'm getting these from `./configure` with commit 707b077 on Darwin. They don't seem to cause a build failure.

[code]

A `.dSYM` directory contains debug information for a C program built via `gcc -g`, the whole directory can be safely deleted.

An unrelated error later in the run:

[code]

[2021-04-14 09:39] egallesio commented on #177
You are right. I close this issue.

[2021-04-14 09:39] #177 closed

[2021-04-16 16:32] egallesio commented on #190
Hello @lassik
Thank you for reporting this issue.
About the .dSYM, it seems to be an  old problem of autoconf (I have found references to it starting in 2007). The problem is that the code generated by the autoconf script contains still some `rm -f conftest*` without the `-r` option. (all the direct deletions to `conftest.dSYM` use a `-f` option not the ones with a `*` wildcard.
Anyway, this is no

[2021-04-16 17:03] lassik commented on #190
Thanks!

If the `.dSYM` problem comes from Autoconf itself, we should probably report the bug to GNU, and they can fix it in the next Autoconf release.

[2021-04-19 15:26] lassik commented on #190
I grepped the [autoconf](https://github.com/autotools-mirror/autoconf) git log, and AFAICT it is using `rm -rf` whenever it remove `conftest.dSYM`. So I don't understand where the bug could be coming from.

[2021-04-19 21:30] egallesio commented on #190
I need to investigate more, but  it seems that there are places where you can find `rm -f  conftest*` (wihout the `-r`) which gives you this error when  you have a `conftest.dSYM` in your directory.

[2021-04-21 08:53] egallesio commented on #190
@lassik @jpellegrini
I was looking the mailing list of `autotools` and fall on the FAQ. Just for fun an extract of it:

:wink:

[2021-04-21 16:13] jpellegrini opened #197 "SRFI 25 failing tests: equality predicates"
Hi @egallesio !

Some SRFI-25 tests are failing because of this:

[code]

So, right now `a` and `b` are `equal?` if the are reeeealy equal: if one is shared and the other isn't, then `equal?` will return `#f`.

Is this the behavior we want?  (The SRFI text is not clear about that)

[2021-04-22 13:19] egallesio commented on #197
Hi @jpellegrini,

I don't know, if shared array should be equal? to arrays. But the current behavior seems correct for me. Perhaps, we could have a `array-equal?` (not found of this name)  predicate  which doesn't make the difference (as `string-ci=?` which doesn't care of the case used). What do you think.

In the meantime, I have pushed new tests where we compare a copy of the tested shared arra

[2021-04-22 13:27] jpellegrini commented on #197
`array=?` maybe?

[2021-04-22 13:28] jpellegrini commented on #197
Did you push to master?  I saw no new commits...

[2021-04-22 13:40] jpellegrini commented on #197
It looks like implementations differ a lot on this:

* Racket's `equal?` will return `#f`, even for arrays that are identical (not sharing elements).
But Racket has a `array-equal?` procedure that returns `#t`.
* Gauche's `equal?` returns `#t`, as well as `array-equal?`.
* Larceny's `equal?` returns `#f`, even for arrays that are identical (not sharing elements). There is no `array-equal?`
* Kawa'

[2021-04-22 13:40] jpellegrini commented on #197
Sorry, I see you pushed it now!

[2021-04-22 13:41] egallesio commented on #197
My bad. It should be OK now.

[2021-04-22 13:43] egallesio commented on #197
No it's me :confused:

[2021-04-22 13:45] egallesio commented on #197
And the solution I propose is not compatible with the existing ones!!  Reminds https://xkcd.com/927/

[2021-04-22 15:06] jpellegrini commented on #197
I see there is already a C function `test_equal_array` that you included in `srfi-25-impl.c`.
It could be used to make another primitive `array-equal?`, OR, we could implement something in scheme, like

[code]
or a variant of this accepting multiple arguments.
What do you think?

[2021-04-22 16:59] jpellegrini commented on #197
Although that would not be memory efficient (allocates new lists). It could be done is scheme with `shape-for-each`, maybe. But perhaps it would be better in C?

[2021-04-22 17:00] egallesio commented on #197
The function `test_equal_array` is the function that is used by `equal?`. In fact, with the last modification I make to the base, you can define the C function which will be called by `equal?` when you define a new type.
For the function `array-equal?` a Scheme version should be OK I think .

[2021-04-22 18:01] jpellegrini commented on #197
I'll get that done later. Without copying the array.

[2021-04-24 16:51] jpellegrini opened #199 "Fails to build on Android (11)"
Hi @egallesio !
I upgraded my Android phone to 11 (actually LineageOS 18.1), and it seems that STklos doesn't compile anymore. See:

[code]

Not sure what that error means... But STklos does compile fine on my PC (amd64) -- this is something Android-specific.

[2021-04-26 19:49] jpellegrini commented on #197
This is done, right?

[2021-04-26 19:49] #197 closed

[2021-04-26 19:49] jpellegrini commented on #172
So... It's there already! :)

[2021-04-26 19:49] #172 closed

[2021-04-26 19:53] jpellegrini opened #201 "Shared array counter in SRFi-25 doesn't work (finalizers are not registered!)"
So... I have changed `stklos.h` to make use of the old ugly debugging hack, as this:

[code]

Then I compiled, installed and ran tests. They all pass, and I see lots of `REG` in the output from the tests (so most procedures do have their finalizers registered as they should).

But SRFI-25 shared arrays don't:

[code]

Why wasn't `REG` printed? I did use `STk_register_finalizer` in `share-array` --

[2021-04-26 19:58] jpellegrini commented on #201
Sorry. I had not installed stklos, just compiled. I did install, and now it does show `REG` when `b` is created.

But the finalizer still doesn't run when I set `b` do `#f`

[2021-04-26 20:10] jpellegrini commented on #201
And the funny thing is that now I see it works on the REPL, but not when tests run:

[code]

[2021-04-27 03:39] jpellegrini opened #203 "Format segmentation fault"
With no modules loaded:

[code]

Output from gdb:

[code]

[2021-04-27 06:47] egallesio commented on #203
Hi @jpellegrini,

 I'll look at this today (I have also a different behavior with ~f on Android, that I need to fix).

[2021-04-27 10:45] jpellegrini commented on #203
Did you manage to compile on Android? I think the issue I described (#199 ) is related to Android 11 only.
I'll see if I  can get another device to test.

[2021-04-27 13:33] egallesio commented on #203
This should be fixed now.

Not seen thin problem on an Android 10 (I don't have a  version 11 device available).

[2021-04-27 13:57] egallesio commented on #199
Weird,

Googling the message seems to be a direct consequence of a change in Andorid 11 behavior (https://developer.android.com/about/versions/11/behavior-changes-all)

I suppose it has to do with file ports `finalizers`. I suppose that they close an already closed file.
Can you please  redefine the `STk_register_finalizer` for doing nothing and tell me if the problem disappear.?

[2021-04-27 14:40] jpellegrini commented on #203
This issue is fixed! :)

[2021-04-27 14:40] #203 closed

[2021-04-27 14:41] jpellegrini commented on #199
Ok, I'll do that later!

[2021-04-27 16:17] jpellegrini commented on #199
I tried, and it doesn't help. The same error is there.

Maybe it's not hard to fix?

[2021-04-27 22:03] jpellegrini commented on #199
And if it's too complex, then maybe the README could state that STklos works on pre-11 versions of Android, and that a future version may support Android 11?

[2021-04-28 01:43] jpellegrini commented on #96
Ok, found  a minimum working example:

[code]

It is the work `quote` in the cons pair that triggers this problem. Changing it to `quota`, for example, doesn't crash.

If the element in the CDR cell is a symbol, it won't crash. If it's a fixnum or boolean, it crashes.

Looks like `print_star` uses the CDR value as it it were  a cons cell even when it's not.

[2021-04-28 12:38] lassik opened #207 "Vertical-bar symbols and keywords"
Is it intentional that the `:` starting a keyword cannot be escaped using vertical bars?

[code]

Since a `:` prefix inside vertical bars is interpreted as a keyword marker, just like a `:` without vertical bars, there's no way to write these symbols as literals:

[code]

(Noticed due to discussion #206)

[2021-04-28 12:47] jpellegrini commented on #207
Even if we could write those as symbols with `| |`, it would be of limited use. In SRFi-42, we'd have to write `|:list|`, which seems cumbersome IMO.

@egallesio can confirm this, but I think this is because STklos development began before SRFi-42 was propsed, and using ":" for keywords seemed natural at the time (am I wrong?)

[2021-04-28 12:56] lassik commented on #207
`:` could still be used for keywords like this:

[code]

Common Lisp distinguishes symbols from keywords in this way (if you have CLISP or SBCL installed, try passing each of the above to the `keywordp` function.)

[2021-04-28 12:58] lassik commented on #207
The key is whether the `:` is inside or outside the vertical bars. Inside it's interpreted like any other character with no special meaning. Outside it's a keyword marker.

I agree that in the case of SRFI 42, being required to write things like `|:list|` everywhere is quite combersome.

[2021-04-28 14:00] jpellegrini commented on #207
I think this is a good idea - we should be able to build symbols beginning with ":", and the vertical bars are the right tool for that.
I'm not sure how hard it would be. I have hacked the STklos reader before, but it was in a different place (number parsing).

But it's probably doable, so let's wait for @egallesio to tell us if he likes the idea. I could try to implement it then.

[2021-04-29 10:35] jpellegrini commented on #199
At least zile works... Not Emacs, but for quick editing, it is a reasonable clone (the Emacs interface and key bindings,  without elisp...)

[2021-04-29 13:38] egallesio commented on #207
Exact @jpellegrini. The notation comes from Common Lisp. In fact, I introduced it for interfacing Scheme with the Tk toolkit where I need named parameters.

[code]

You are right @lassik. We should use this convention.

But for SRFI-42, it is clear that this is not a convenient solution.

Anyway, I had already problems hen using code from other Schemes which have no keywords. For this reason, I ha

[2021-04-29 14:07] jpellegrini commented on #207
I think it's a nice idea @egallesio !
As to SRFI-42 it could set the keyword parameter, load, then restore the previous keyword behavior. But the user will need to set it manually if he wants to use those symbols.
Sounds good, no?

[2021-04-29 14:24] egallesio commented on #207
Thanks @jpellegrini ,

BTW, I have pushed a commit which correct the problem @lassik pointed.
The commit message is

before).

Adding the parameter object will  be easy.

[2021-04-29 14:48] jpellegrini commented on #207
That was fast! :)

I see:

[code]

@lassik -- it works now!
(And it will be even better when the behavior becomes parameterizable)

[2021-04-29 15:36] egallesio commented on #207
But not completely correct :disappointed:  `|a:|` is always a keyword....

[2021-04-30 07:50] lassik commented on #207
I recommend refactoring the `read_word()` and `read_token()` part of `read.c` to be something like this (pseudo code):

[code]

[2021-04-30 14:32] jpellegrini commented on #207
I see that a new commit adds the parameter object!
That means I can work on SRFI-42 :)

[2021-04-30 14:37] egallesio commented on #207
Hi @lassik,

I didn't see your code in time. However, the problem is a little more complicate, since the bars can be in any position. The vertical bars used in STklos, in this respect are similar to the ones in Common Lisp. For instance

[code]

Testing on your previous examples (keywords are now printed with the `#:` notation):

[code]

[2021-04-30 14:43] lassik commented on #207
Ah, my mistake. I didn't even know that Common Lisp can do that. Sorry!

I just checked R7RS, and it only supports the vertical bars `|around the symbol|`, not in the middle.

[2021-04-30 14:44] lassik commented on #207
The output in your latest example looks all correct!

[2021-04-30 14:47] egallesio commented on #207
I didn't even know that R7RS was limiting the use of vertical bars. Sorry! :smiley:

[2021-04-30 15:01] lassik commented on #207
No problem. The result of `(length '(|foo||bar|))` is:

* 1 in Common Lisp, Chez Scheme, Guile (R6RS mode), Kawa (including R7RS mode)
* 2 in Guile (R7RS mode) and every other Scheme I tried

It seems there isn't general agreement.

[2021-04-30 15:35] egallesio commented on #207
@lassik Interesting.

[2021-04-30 15:36] egallesio commented on #207
Hi @jpellegrini ,

In fact, it was more complicate that I initially thought.

Yes but the parameter is not sufficient when  you load compiled code. When you compile code you need to tell the reader to change its behavior independently of the conventions used in the caller.

Suppose that you have a the file `foo.stk`

[code]

and a simple session

[code]

Now if you compile the file `foo.stk` in `f

[2021-04-30 16:13] jpellegrini commented on #207
@egallesio -- I see, I tried to load SRFI-42, and it doesn't seem to work yet.
Even with the directive, it seems to be broken in some way. It's just not clear yet if it's related to keyword/symbol reading or if it's a bug in the reference implementation.

[2021-04-30 19:09] jpellegrini commented on #207
Hi @lassik !
SRFI-42 defines macros using colon in their names, and even one macro whose name is a single colon. So, (@egallesio correct me if I'm wrong) all the machinery involved (compiler, macro expanders and installers etc) need to read those names correctly.

BTW, I have loaded the reference implementation in Chibi, and it doesn't break, so there is still something related to macros in STklos

[2021-04-30 19:11] jpellegrini commented on #55
I had an idea, which would not be too invasive to the compiler. I'll work on it more later.

[2021-04-30 19:37] jpellegrini commented on #207
Yes... But it would still be nice to get the symbol treatment better  in STklos. And if we do, then we won't need to rewrite any part of the SRFI.

[2021-04-30 22:17] jpellegrini commented on #207
I think it's a different issue, not related to symbols:

[code]

The gensym-generated symbols for "b" are `b1400`, and the expansion refers to `b`. So I think it's not related to this issue -- it's something related to STklos' implementation of `syntax-rules`.

Anyway, I'll deal with that in a separate issue -- @egallesio  I think there's a simple way to support better macros, but I'll need some t

[2021-05-02 10:39] jpellegrini opened #208 "Garbage collection not running during tests?"
This program repeatedly allocates a large memory chunk:
[code]

If I compile it with `stklos-compile` of if I load it on the REPL, it works just fine! Lots of dots are printed, and STklos does not seem to use much memory. Perfect!

Now... If I copy that file to the `tests` directory and add it as if it were one of the tests, in `do-test.stk`:
[code]

and run `make test`, then STklos consumes sever

[2021-05-03 09:09] egallesio commented on #208
Hi @jpellegrini,

The GC is not blocked during tests.
I think that the problem is resolved at least on x86_64.

I have tested with the following code

[code]
on an X86_64 architecture and didn't notice any problem.

I will also try to test it on an old Rasberry (I'm a bit worried to not do what is required in GC documentation).

[2021-05-03 09:46] jpellegrini commented on #208
Yes. Maybe we could ask the libgc people about this later?

[2021-05-03 09:47] jpellegrini commented on #208
That's great! I'll check if the issues I was having were fixed.

[2021-05-03 10:28] jpellegrini commented on #208
@egallesio here are a couple of things I noticed with this patch:

* SRFI-194 tests do not eat a lot of memory anymore!
* The shared array counter for SRFI-25 is in somewhat better situation: the finalizers are called, but I'm not sure we can force GC to happen, so although the counters are technically correct, it seems we can't test them
* Sometimes the tests for SRFI-41 enter an infinite loop (t

[2021-05-03 11:20] jpellegrini commented on #208
I'm not sure about that. It seems to have happened a few times, but after recompiling and testing more than 20x, it did not happen again. It could have been because of some leftover stuff from previous compilations, maybe.

[2021-05-03 12:29] jpellegrini commented on #208
I saw the docs... They seem to tell us to use `GC_THREADS` instead of `GC_LINUX_THREADS`, which is deprecated. I'm not sure if it makes a difference.

[2021-05-04 14:53] egallesio commented on #208
Great.

I have tested with one or the other with and without _REENTRANT several times and I had **NO** problems when compiling STklos without any option. Consequently, I propose to keep it as is.

@jpellegrini , tell me if it is OK for you.

BTW, I have tested also on a Raspberry (armv7l) and see no problem either when compiling STklos without option.

[2021-05-04 17:11] jpellegrini commented on #208
I'm just not sure it works on all platforms. I was really unlucky recently:  I can' compile STklos on Android 11 (as I mentioned ni another issue), and I also can't compile the new version of OpenWRT for my router (something goes wrong when compiling the toolchain -- I'm working on it).
But I think it'll probably work.

[2021-05-04 17:19] jpellegrini commented on #208
Yes, but a very small part of the tests fail, and although they don't use much memory, they take a lot of time to finish. This seems to be related to SRFI-27.   I'll work on optimizing it (this one is worth being partially implemented in C). I've made some tests using the GMP random number generator instead of the SRFI-27 reference implementation in C, and it becomes twice as fast. But the GMP gen

[2021-05-05 18:42] jpellegrini commented on #208
I'm trying to see if anything breaks when compiling on other architectures. Will bring more information in the next hours/days.

[2021-05-06 02:39] jpellegrini commented on #208
Still couldn't get an Android device that is not Android 11.
But the changes do not seem to affect compiling and running on OpenWRT (on that big-endian MIPS machine)... It works fine.

[2021-05-06 13:40] jpellegrini commented on #199
I'm not sure it's the best thing to do, but it seems that `fdsan` could be disabled...
https://android.googlesource.com/platform/bionic/+/master/docs/fdsan.md

Maybe using this

[code]

would be OK?

[2021-05-06 14:10] jpellegrini commented on #199
It seems to work! And STklos (head from master git branch) passes all tests on Android!

But it's weird: this is what I did in `fport.c`:

[code]

But when I compile,

[code]

But... the function does exist: it is in `android/fdsan.h`, which is located at `/data/data/com.termux/files/usr/include/android/fdsan.h` from termux. And we already covered that with the `./configure` option that we use...

[2021-05-06 14:12] jpellegrini commented on #208
Passes all tests on Android 11 too (see PR #199 )!

[2021-05-06 16:28] jpellegrini commented on #199
But I see you've been working on a cleaner solution! :)

[2021-05-06 16:31] egallesio commented on #199
Hi @jeronimo,

I have just committed a version which doesn't close an already closed port. This was not tested before, since double close of a port is generally not a problem (and I don't see why it could be one).
Perhaps it is sufficient for Android. I prefer if we can avoid having platform specific code.

Otherwise, we can use your solution.

[2021-05-06 16:32] egallesio commented on #199
Can you test on your Android platform please?

[2021-05-06 16:32] jpellegrini commented on #199
@egallesio , it seems that the commit from today is not enough to prevent the problem:

[code]

This is after pulling from git, and running `make distclean`, `autoreconf`, `configure`, and `make`...

[2021-05-06 16:33] jpellegrini commented on #199
Perhaps the problem not  only closing an already closed port, but something else?

[2021-05-06 16:38] egallesio commented on #199
That's true but the document you sent before says

Since, use-after-close would cause problems on other OS and since  the second was not a problem (and was noted before), I have a little hope.

[2021-05-06 16:48] jpellegrini commented on #199
I also compiled with a single thread, just to be sure if it makes a difference, and got this:

[code]

That is the first time the stklos binary is used in the compilation process. But the message is confusing -- why would it "expect the fd to be unowned, but it was actually owned by `FILE* ...`"? If the problem was a double-close, then it would complain that we're closing an *unowned* fd, which wa

[2021-05-06 23:10] jpellegrini commented on #208
I adapted the STklos tests and ran them on a MIPS big-endian router running OpenWRT. No errors. :)
And the tests also pass on Android 11.
Maybe we can close this issue?

[2021-05-07 07:45] egallesio commented on #199
Hi @jpellegrini,

I start to understand what the problem is (hope so).

In STklos, all the IO are done using a general IO interface which is the same for file ports, string ports and virtual ports. This interface is very low level and offers services at the POSIX level.

For file ports, we use the file descriptor interface and not the `FILE*` interface **EXCEPT** when opening the file. That means

[2021-05-07 08:14] egallesio commented on #208
Great.
Thanks, @jpellegrini for all your tests.

I close this issue.

[2021-05-07 08:14] #208 closed

[2021-05-07 09:57] jpellegrini commented on #199
Hi @egallesio !
Ok, I tried and it segfaults:

[code]

gdb in Android gives the following stack trace:

[code]

[2021-05-07 10:00] jpellegrini commented on #199
But then, SRFI-170 has `fd->port`, `open-file`, and other functions that mix the two APIs... Which could lead to problems, maybe?

[2021-05-07 22:39] jpellegrini opened #210 "Some examples in manual won't work now that colon-initiated identifiers are not keywords by default"
For example, this

[code]

will fail. One needs to either change the default to recognize `:string` as keyword, or (probably better I suppose) the examples in the documentation could be changed:

[code]

[2021-05-09 16:58] jpellegrini opened #211 "Crash when calculating really huge number"
Hi @egallesio !

It looks like STklos isn't dealing well with the necessary memory for huge numbers (those that are so large that are non-representable on common hardware) :

[code]

Perhaps a simple check somewhere ("do we have enough memory for this?") would be enough to fix this?

I know that nobody should be calculating that, but I guess it would be nicer for STklos fo signal an error instead.

[2021-05-11 14:36] jpellegrini commented on #199
And... It works!
I've compiled it on Android and ran the tests. Zero errors! :)

[2021-05-12 01:51] jpellegrini opened #215 "Tests hang sometimes"
A build without threads always finishes running the tests, it seems (I've run the tests more than 50 times).

But the threaded build sometimes gets locked for some reason. Usually while testing SRFI 41 (or the one after it, maybe), but not always there. This happens on both Android and Linux/amd64.

Could this be related to the GC issue?

(I'm sorry - I've been reporting lots of problems lately...

[2021-05-12 02:40] jpellegrini commented on #215
I'll try using different versions of  libgc later.

[2021-05-12 08:58] egallesio commented on #199
**YEAH**

[2021-05-12 08:58] #199 closed

[2021-05-13 00:08] jpellegrini commented on #215
I tried the development version of libgc and tests also hang sometimes with it.

Now, I tried passing `_REENTRANT` and `GC_LINUX_THEADS` in `CFLAGS` and tests ran 100 times without hanging, but it crashes as reported in issue #208.. So, it seems like the solution to that issue had problems.
I'll take another look into the libgc documentation.

[2021-05-13 01:11] jpellegrini commented on #215
Compiled without any of those flags, and included `#define GC_THREADS` in `stklos.h`.
It did show the same memory related problems as before.

So, `_REENTRANT` is not related to it; in fact, it seems from the documentation that `_REENTRANT` shoudl only be used when compiling the collector itself, not the application. Our problem is with `GC_THREADS`...

[2021-05-13 01:56] jpellegrini commented on #215
I also tried using gcc 8 and gcc 10, both lead the those same problems.

[2021-05-13 02:23] jpellegrini commented on #215
STklos 1.60 behaves the same way as git head...
Still checking.

[2021-05-13 11:05] jpellegrini commented on #215
Aha!
I tried STklos 1.00 and the code that triggers the memory problem,
[code]
does **_NOT_** cause any problems when included in the tests!

So something between STklos 1.00 and STklos 1.60 triggered the problem.

[2021-05-13 14:29] jpellegrini commented on #215
I found the commit that causes the memory problems!

`0be2e08b208bcc913a112a4c36f3ad0d8fce2611` (2020-06-29 11:21:15)
"Adaptation of the threads for Android"

It's related to threads, and there were changes to `pthreads.c`, `misc.c`, autoconf scripts...

[2021-05-13 18:08] jpellegrini commented on #215
It really is this commit, since the previous snapshot works OK, and this one doesn't. But I have  read everything that was commited, and I can't see what could be causing the problem!

[2021-05-13 18:21] jpellegrini commented on #215
Oh, found something else!

If I comment out the threads test from `do-test.stk`:
  (load "test-fport.stk")
;;  (load "test-threads.stk")  ;; <== removed
  (load "test-srfi.stk")           ;; <== this is where thebug was triggered
  (load "mem.stk")
  (load "test-md5.stk")
[code]

[2021-05-13 18:36] jpellegrini commented on #215
And here is the culprit:

[code]

If I comment out this test, there is no high memory consumption.
If I put it back in, then STklos starts eating lots of memory!

So it's related to `thread-terminate!`, which is what this commit was about after all...

[2021-05-13 18:43] jpellegrini commented on #215
By the way...  I don't think it would fix this problem, but what about not letting it enter an infinite loop there?  The test could try 10 times and fail if the result is still 42.

[2021-05-13 19:09] jpellegrini commented on #215
But if I just put these on the REPL:

[code]

the problem does *not* happen, as I would expect...

[2021-05-13 21:01] jpellegrini commented on #215
It seems that the problem is present in previous versions of STklos; it's just that this particular commit to the tests triggers it. I just tried the code  on 1.40 and the problem is there too.

[2021-05-13 21:20] jpellegrini commented on #215
@egallesio sorry for the number of messages!

See, it seems that even 1.00 had the problem:

[code]

That code makes STklos (1.00) eat up all available memory!

[2021-05-16 04:18] xgqt opened #219 "Installing packages fails"
It seems that the required directories in /tmp are not getting created

![image](https://user-images.githubusercontent.com/47485207/118385358-a389c300-b5fd-11eb-87b0-854114c4681d.png)

[2021-05-16 04:19] xgqt commented on #219
![image](https://user-images.githubusercontent.com/47485207/118385376-d5028e80-b5fd-11eb-9141-f8e260f9967c.png)

[2021-05-16 10:02] jpellegrini commented on #219
@egallesio -- I have just tried it here and got the same error on a Debian system.

[2021-05-17 05:46] jpellegrini opened #220 "Should numerator always be non-negative?"
R7RS says that `denominator` should always return a non-negative number. _It says nothing about `numerator`._

For `(numerator -2/3)`: Chez, Chibi, Chicken, Gambit, Gauche, Guile, Kawa, Loko, MIT Scheme and Racket  all return -2.

Should STklos perhaps also return -2? (Currently it returns 2).

[2021-05-17 05:51] lassik commented on #220
If all other major Scheme implementations return a negative number, that's a pretty strong precedent that STklos should as well.

[2021-05-17 18:36] egallesio commented on #219
Thanks @xgqt for signaling the problem.
I have seen this a couple of days ago on my machine too. I think that I have broken it when  I have used the new SRFI-170 primitives in the package manager itself.
 I'll try to fix it quickly.

[2021-05-18 16:06] egallesio commented on #220
and one can expect that dividing one by the other produces a result with a  good sign!

I pushed a commit that correct this. Thanks @jpellegrini for signaling it.

[2021-05-18 16:06] #220 closed

[2021-05-21 20:20] jpellegrini commented on #215
@egallesio --
I was working on SRFI-194, and noticed that sometimes, some of its tests give wrong results, and sometimes not.
Now -- both SRFI-194 and its tests are *deterministic*. The random numbers generated should be all determined by the seeds, which are set to the same values always.
And each time it fails, it seems to be in a different location of the tests
So, maybe that is related to this

[2021-05-21 20:52] jpellegrini commented on #211
The problem is only `(expt 1000000 10000000000000000000000000)`.
I did some tracing, and it loops inside `mul2` until, I think, GMP runs out of memory. Still checking.

[2021-05-21 21:03] jpellegrini commented on #211
Yes -- GMP segfaults when there's not enough memory!
Maybe there is some option to change that?
Or we can catch the `SIGSEGV` when making multiplications?

[2021-05-21 21:14] jpellegrini commented on #211
But it should not! The manual says

Here: https://gmplib.org/manual/Custom-Allocation

But what I got was not a GMP message -- it was a plain segfault (even with a small test program in C).
Maybe there is a way to get this fixed? It must be a common problem that people need to fix

[2021-05-21 22:07] jpellegrini commented on #211
No, I mixed up something.

Actually, gmp should signal an error:

[code]

So if STklos didn't do that I guess it is because *after* calculating the number it was copied and there wasn't enough memory for it. But I could be wrong.

PS:

The file I used to produce the GMP output above:

[code]

[2021-05-23 19:42] jpellegrini commented on #211
I have changed the three `STk_must_*` allocating functions so they're inline functions that check if the result is NULL:

[code]

but STklos still crashes when trying to create huge bignums:

[code]

So it's not that the result from `GC_*` is not being checked.

But my inline functions do work when I try to create a huge array with SRFI-25:

[code]

Not sure then where the number-creating code is

[2021-05-24 17:35] egallesio commented on #211
Hi @jpellegrini,

I think that the next commits solve (or bypass) the problems in this issue.
About `expt`, the actual implementation didn't use the exponentiation functions of GMP. This explains why you didn't see the errors.  Now, I use the functions of GMP and the exponent must be a fixnum (as required by `mpz_expt_ui`).

About the GC alloaction problems

Consider GC warnings as errors, here is

[2021-05-24 17:38] jpellegrini commented on #211
Hi @egallesio !

I think I've seen them on machines low on memory. There was some warning from the GC about possible performance problems. I'll check

[2021-05-24 17:42] jpellegrini commented on #211
This problem is fixed:
[code]

I remember that during tests, devices with little memory showed some GC warnings. I'll check again this week.

[2021-05-24 17:57] egallesio commented on #211
Yes I have seen them too, but they always finished by a SIGSEV at the end (as far as I remember).

[2021-05-24 18:00] jpellegrini commented on #211
I think I've seem them without the `SIGSEGV`...

Anyway, the current git HEAD doesn't seem to pass tests on Android: there's a GC warning about a duplicate large block deallocation while testing numbers, then tests are aborted.

[2021-05-24 18:03] egallesio commented on #211
Yes and other tests seems to be incorrect on `expt`. I'll look at them tommorow.

[2021-05-24 18:56] jpellegrini opened #227 "Generated srfi-25-incl.c is not a C program"
While cross-compiling, the generated `srfi-25-incl.c` is not a C program. It looks like `stklos-compile` generates the usual  bytecode file.

[code]

I'll check what could be causing this.

The relevant compilation output is this:
[code]

[2021-05-25 01:10] jpellegrini commented on #227
Hm, the compiler is being called without the `-C` option. More later.

[2021-05-25 06:12] egallesio commented on #227
Yep. The new `utils/tmpcomp` command adds it when the output file is suffixed by a '.c'.
You have probably using an old script in your chain.

[2021-05-25 09:50] jpellegrini commented on #227
But it is downloaded and unpacked every time I compile. I think some env variable is not being expanded or used properly. I'll check.

[2021-05-25 11:25] jpellegrini commented on #227
Hm, it's using `stklos-compile` directly instead of calling `../utils/tmpcomp`.
Still checking

[2021-05-25 11:27] jpellegrini commented on #211
@egallesio it looks like with the changes there is a segfault in SRFI-144.
I'll try to look into this later

[2021-05-25 11:37] jpellegrini commented on #211
In the code for `expt`, it seems:

[code]

[2021-05-25 16:52] jpellegrini commented on #219
Hello,
It looks like that problem is solved, although copiling the smtp package seems to not work:

[code]

[2021-05-25 16:53] jpellegrini commented on #219
I mean, in git HEAD

[2021-05-25 16:58] egallesio commented on #227
Hi @jpellegrini ,

The new version of `tmpcomp` is now more "compatible" with `stklos-compile`. This should fix this issue (I hope so).

[2021-05-25 17:09] xgqt commented on #219
same for me

[2021-05-25 17:11] jpellegrini commented on #227
Hm, does `stklos-copile` need `bigloo-support`?

[code]

[2021-05-25 17:39] jpellegrini commented on #227
Or actaully, does `stklos-pkg` need `bigloo-support`?

[2021-05-26 01:34] jpellegrini commented on #227
Got that fixed; I can pass `-L ../lib/` to `stklos-compile.
There are still things not working with cross-compilation, but those are related to the cross-compiling script, not STklos itself (I think).

[2021-05-26 01:45] jpellegrini opened #228 "Are .ostk files from libraries not being installed?"
[code]

Well, during `make install` I see this:

[code]

What happened? Looks like some typo in `Makefile.am`, but I can't see it.

[2021-05-26 17:50] jpellegrini commented on #228
(I think STklos still works only because the sources are installed. But the compiled .ostk are not...)

[2021-05-27 08:16] lassik opened #232 "Untracked pkgman files"
`git status` shows the following untracked files after a build:

[code]

Should these be added to `.gitignore`?

[2021-06-01 14:21] egallesio commented on #219
This shoul be OK now.
I have tested all the ScmPkgs. Almost all are running with the current version of STklos

If I'm correct, here is the current state:
- [x] awk-0.0.3 (tuning)
- [x] ccnum-0.2.0
- [x] csv-0.5.0 (tuning)
- [x] edefine-0.0.1 (tuning)
- [x] egg-crc-0.0.2 (tuning)
- [x] egg-xosd-0.0.5 (tuning)
- [x] error-0.0.4 (tuning)
- [x] fixnum-0.0.1 (tuning)
- [ ] htmlprag-0.16.2 (tuning)
- [

[2021-06-01 14:36] egallesio commented on #232
Weird. Normally they are now deleted when the `stklos-pkg`  has been successfully built.

[2021-06-01 14:42] egallesio commented on #219
Note that this list must be heavily cleaned, since most of these codes are more than 15 years old and are not really useful. For instance, all the SRFIs listed above are now in the standard distribution. And I'm not sure that porting `pstk` to the current STklos has a real interest today.

[2021-06-01 14:44] xgqt commented on #219
Works for me now after most recent update.
Thank you.
Closing.

[2021-06-01 14:44] #219 closed

[2021-06-01 14:51] egallesio commented on #227
Yes, to permit adding code written in Bigloo (without modification). I'm not sure that this is the sort of thing that is still useful, since ScmPkg is not really used. ScmPkg was an attempt that the author of Bigloo and I tried to develop at the same time that Marc Feeley created Snow (in fact, ScmPkg was snow at the beginning, but we divert from the Marc version rapidly).

Given that ScmPkg faile

[2021-06-01 14:57] jpellegrini commented on #227
@egallesio  no problem here -- I can work around that temporarilly, with the `-L` option.
This issue is actually not the real problem. I think #228 is a problem -- it seems that only `.stk` files from `lib/` are being installed. I can't see why...

I have manually removed my local STklos installation from `/usr/local/`, then  ran distclean, then autoreconf, configure and make and make install (fro

[2021-06-01 15:24] egallesio commented on #228
You are right @jpellegrini . This should be corrected now.

[2021-06-01 16:03] egallesio commented on #228
Oops. This is not completely correct. Furthermore, `make uninstall` forgets all the Scheme sources files.
I work on that.

[2021-06-01 18:38] jpellegrini commented on #227
Let me know how I can help! I know it's a lot of work...  Anyway, 1.70 will be a huge enhancement over 1.60!

[2021-06-02 10:23] jpellegrini commented on #215
Hmm, one of the SRFIs where tests hang _**on my amd64 PC**_ is 64.  When I runit on a MIPS router, I get this:

[code]

In a second run, all SRFI tests passed.

So, the same problem that made it hang on an intel architecture with `libc` killed it on MIPS with `musl`. I'm not sure if this information is useful, but well, maybe this helps.

[2021-06-07 14:32] egallesio commented on #215
I think that this corrected now. I have also tested it multiple times

[2021-06-07 14:41] egallesio commented on #139
I think that the bunch of recent commits should have corrected this issue. If you have a simple configuration to verify that this is really the case, it would be cool. I was not able to have it in a deterministic manner, but those commits on threads should have really clean up the situation.

[2021-06-07 14:41] egallesio commented on #228
It should be OK now.

[2021-06-07 14:43] egallesio commented on #211
Yep. My bad. My new implementation of `expt` was incorrect when first parameter was not an integer.
SRFI-144 tests are OK now.

[2021-06-07 14:54] jpellegrini commented on #211
Looks like this is fixed!

[2021-06-07 14:55] jpellegrini commented on #215
Yes, checking right now!

[2021-06-07 14:55] jpellegrini commented on #227
I think this issue is not valid anymore...

[2021-06-07 15:00] jpellegrini opened #234 "SRFI-144: gcc complains about `round (log2 DBL_MAX)`"
Hi @egallesio !
In SRFI-144, it seems that `round (log2 DBL_MAX)` isn't being accepted by some versions of gcc:

[code]

But not on all machines I tried, so it seems that it depends on gcc version (not portable, then?)

[2021-06-07 15:00] jpellegrini commented on #228
Yes, I think it's fixed!

[2021-06-07 16:22] jpellegrini commented on #234
This happens on my Android device, and also on the OpenWRT build environment.

[2021-06-07 16:39] egallesio commented on #215
Thanks for you help @jpellegrini

[2021-06-07 16:45] egallesio commented on #227
Thanks for helping.
I think that pkgman should disappear as soon as we can use another package manager (Akku, Snow, ...). But for doing that, it is necessary to support `define-library`. I have some stuff in the works that I need to finish on this point

[2021-06-07 16:46] egallesio commented on #227
OK I close this issue.

[2021-06-07 16:46] #227 closed

[2021-06-07 16:47] #228 closed

[2021-06-07 16:52] jpellegrini commented on #234
gcc-10.2.0_musl also fails on OpenWRT.
I think it's something else.

[2021-06-07 17:03] egallesio commented on #234
This problem prevents to rebuild the Docker image on Docker hub. :disappointed:

[2021-06-07 17:07] egallesio commented on #234
gcc works for me but not clang
Replacing `double e = round(log2 DBL_MAX);` by `double e = round(log2(DBL_MAX));` works

[2021-06-07 17:10] jpellegrini commented on #234
Then the fix is simple! :)

[2021-06-07 17:11] egallesio commented on #234
I have pushed a commit, and we'll see if docker hub rebuild it :crossed_fingers:

[2021-06-07 17:11] jpellegrini commented on #234
Anyway... I'm not sure I remember this being legal C. Is it something new? `(log2 DPL_MAX)` looks a lot like Lisp :smile:

[2021-06-07 17:26] egallesio commented on #234
Is it Ok for you? because the image was not build by DockerHub for a mysterious reason (but it  compile srfi-144).

[2021-06-07 17:28] jpellegrini commented on #234
Yes, it compiles on all platforms now!

[2021-06-07 17:34] jpellegrini commented on #234
See PR #235 -- would that be the cause?

[2021-06-07 17:59] egallesio commented on #234
It seems to have to do with the integration of the Localization SRFI (I suppose that the LANG variable is not defined or something like that).
 I will look at it tomorrow.

[2021-06-07 18:07] jpellegrini commented on #234
Also, `srfi-29.ostk` was not being installed because of the conflict I mentioned in PR #235 ...

[2021-06-07 19:04] jpellegrini commented on #234
But even fixing the Makefile, something goes wrong during tests in Android and OpenWRT. Not on my PC.

[2021-06-08 08:15] #211 closed

[2021-06-08 08:18] egallesio commented on #234
The problems came from SRF-29. It should be corrected now.

[2021-06-08 08:19] egallesio commented on #234
Closing this issue.

[2021-06-08 08:19] #234 closed

[2021-06-08 09:07] egallesio commented on #232
Hi @lassik,
I have verified on a Mac Mojave version and these files are not present after a build. Weird

[2021-06-08 11:08] jpellegrini opened #236 "Cannot load SRFI-144 on Android"
Hi @egallesio !
This only happens with SRFI-144 (other hybrid SRFIs like 25 and 170 load fine).

[code]

[2021-06-08 11:34] jpellegrini commented on #215
Hi @egallesio !
Tests seem to pass on OpenWRT/MIPS, but on Android there is a problem with SRFI-144 (probably some easy-to-fix glitch). I've opened a separate issue for that.

[2021-06-08 13:13] lassik commented on #232
OK, finally found what causes it! `./configure --prefix=$HOME/.local`. If I leave out the `--prefix` I don't get the leftover files either.

[2021-06-08 14:50] jpellegrini commented on #236
Just confirmed: SRFI-144 is the only one that fails.

This:

[code]

works perfectly on Android with zero errors.

[2021-06-08 18:07] egallesio commented on #232
I'll have a look at that. Thanks for the issue analysis.

[2021-06-14 10:50] jpellegrini commented on #215
@egallesio -- the problem with SRFI-144 is not related to this issue. It's just that some dynamic library isn't being opened. The hanging tests problem seems to be fixed, definitely!

[2021-06-17 13:12] egallesio commented on #215
Great! I close this one.

[2021-06-17 13:12] #215 closed

[2021-06-17 14:39] jpellegrini commented on #57
It seems that the situation is a bit trickier than what I thought:

|                | goocanvas | goocanvas-2.0 |
|----------------|-----------|---------------|
|FreeBSD 12.2    | Y         | Y             |
|FreeBSD 13.0    | Y         | N             |
|Debian unstable | N         | Y             |
|OpenSuse        | N         | Y             |
|Arch            | N         | Y             |
|Fe

[2021-06-22 09:38] egallesio commented on #57
Hi @jpellegrini,

Thanks for this PR. I have applied it, but not regenerate the package (the procedure is not automatic).

BTW, I'm porting since several days GTklos of GTK3. It is not yet finished. I didn't rally want to do this port,  because I thought it will take time (and it is really longer than I thought). Anyway, the port is almost finished for standard widgets. As soon as it is finished,

[2021-06-22 11:17] jpellegrini commented on #57
That's great!
And in that case, I suppose the `if` in this PR would need to be updated, right?

[2021-06-22 17:17] egallesio commented on #57
Yep. In fact, it seems that the name is now `libgoocanvas-3.0.so`, and its existence  can be tested by `pkg-config --exists goocanvas-3.0`

[2021-07-02 13:08] jpellegrini commented on #55
Hi @egallesio !
I am focusing on this now. I think there is a simple way to add lexically-scoped macros to STklos, in a quite non-intrusive way. I'll come back later with a PR...

[2021-07-03 16:23] egallesio commented on #55
That would be great, I have tried a solution some time ago, but failed miserably. Waiting for the PR :wink:

[2021-07-13 19:02] jpellegrini opened #238 "Cannot compile gtklos"
Hi @egallesio !

I have tried to compile gtklos in the the `extensions/gtklos` directory, but it fails complaining
that I don' have `libgtk-3` installed, even though I do:

[code]

Is there something else I should do, before running `make` in `extensions/gtklos`?

Here's the output of `make`:

[code]

[2021-07-13 20:13] jpellegrini commented on #238
But `stklos-fuse` compiles fine! :)

[2021-07-14 16:54] egallesio commented on #238
I look at that. Thanks for reporting.

1 on 2. Not bad :wink:

[2021-07-14 17:22] jpellegrini commented on #238
Maybe it would be nice to test in Docker images of the most important Linux distributions?

[2021-07-16 15:30] egallesio commented on #238
Hi @jpellegrini ,

This should work now (I have tested on an Ubuntu VM and on MacOS).